<div ng-controller="LoaderCtrl">
    <div class="page-header page-header--article page-header--calendar slate--dark-green">
        <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
        <div class="wrapper">
            <p class="page-header__title page-header--calendar-desc">
                <strong>Release calendar</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">Release calendar</h1>
            <social-links></social-links>

        </div>
    </div>

    <div class="wrapper panel--bottom-mar">
        <section class="wrapper">
            <header class="actionable-header--tight panel--mar-small">
                <table width="100%">
                    <tr>
                        <td style="text-align:right;">
                            <span class="chart-area__footer__label">Get updates to this calendar
                    <a class="" href="#">
                        <span class="icon-mail icon-inline">email</span>
                            </a>
                            <a class="" href="#">
                                <span class="icon-rss icon-inline">RSS</span>
                            </a>
                            </span>
                            <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to get the updates"></ons-help-tooltip>
                        </td>
                    </tr>
                </table>
            </header>
            <div ons-tabs tabs-active-var="selected" class="calendar tab-pane tab-pane--dual">
                <ul role="tablist" class="nav tab-pane__tabs-container">
                    <li ons-tab-control="published" role="presentation" class="tab-pane__tab-container">
                        <a href="" ng-class="{'tab-pane__tab--selected': selected === 'published'}" class="tab-pane__tab" role="tab" aria-selected="{{selected === 'published' ? true : false}}">
                            <br class="tab-pane__tab__break">Published releases</a>
                    </li>
                    <li ons-tab-control="upcoming" role="presentation" class="tab-pane__tab-container">
                        <a href="" ng-class="{'tab-pane__tab--selected': selected == 'upcoming'}" class="tab-pane__tab" role="tab" aria-selected="{{selected == 'upcoming' ? true : false}}">
                            <br class="tab-pane__tab__break">Upcoming releases</a>
                    </li>
                </ul>
                <article ons-tab="published" id="published" role="tabpanel" class="tab-pane__panel" aria-hidden="true">
                    <div class="grid-wrap">
                        <div class="grid-col desktop-grid-one-third tablet-grid-one-half ">
                            <div class="calendar calendar-wrapper">You can use this filters to show only results that match your interests</div>
                            <fieldset class='calendar'>
                                <div>
                                    <label class="chart-area__controls__date__label">Contains</label>
                                    <input placeholder="keywords" ng-model="query">
                                </div>
                                <div>
                                    <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to select from here"></ons-help-tooltip>
                                    </span>
                                    <label class="chart-area__controls__date__label" for="departments">Topic</label>
                                    <select class="single-row-select" id="topics" name="topics[]">
                                        <option value="all" selected="">All topics</option>
                                        <option value="business-and-enterprise">Business, Industry and trade</option>
                                        <option value="children-and-young-people">Economy</option>
                                        <option value="employment">Employment and Labour Market</option>
                                        <option value="equality-rights-and-citizenship">People, Population and Community</option>
                                    </select>
                                </div>
                                <div class="filter date-range-filter">
                                    <div class="div-int">Release date:
                                        <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to filter from here"></ons-help-tooltip>
                                    </div>
                                    <label class="chart-area__controls__date__label" for="from_date">Published after</label>
                                    <input id="from_date" name="from_date" placeholder="01/01/2014" type="text">
                                    <label class="chart-area__controls__date__label" for="to_date">Published before</label>
                                    <input id="to_date" name="to_date" placeholder="30/02/2014" type="text">
                                </div>
                            </fieldset>
                        </div>
                        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
                            <ol class="list--table list--table--cushy list--table--releases" >
                                <li class="list--table__item list--table__body" ng-repeat="item in calendarData | filter:query" ng-class="{'table--striped-light_coloured': $index %2 != 0}">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="{{item.releaseDate}}">
                                                <!-- <div class="date--stacked__month">{{item.releaseDate}}</div> -->
                                                <div class="date--stacked__date">28</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Nov</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                <a href="#!{{item.uri}}" class="no_underline">{{item.name}}</a>
                                            </h2>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </article>

                <article ons-tab="upcoming" id="upcoming" role="tabpanel" class="tab-pane__panel">
                    <div class="grid-wrap">
                        <div class="grid-col desktop-grid-one-third tablet-grid-one-half ">
                            <div class="calendar calendar-wrapper">You can use this filters to show only results that match your interests</div>
                            <fieldset class='calendar'>
                                <div>
                                    <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to filter from here"></ons-help-tooltip>
                                    <label class="chart-area__controls__date__label">Contains</label>
                                    <input placeholder="keywords" ng-model="query">
                                </div>
                                <div>
                                    <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to select from here"></ons-help-tooltip>
                                    </span>
                                    <label class="chart-area__controls__date__label" for="departments">Topic</label>
                                    <select class="single-row-select" id="topics" name="topics[]">
                                        <option value="all" selected="">All topics</option>
                                        <option value="business-and-enterprise">Business, Industry and trade</option>
                                        <option value="children-and-young-people">Economy</option>
                                        <option value="employment">Employment and Labour Market</option>
                                        <option value="equality-rights-and-citizenship">People, Population and Community</option>
                                    </select>
                                </div>
                                <div class="filter date-range-filter">
                                    <div class="div-int">Release date:
                                        <ons-help-tooltip tip="This function will not be available on the prototype, however in the future you will be able to filter from here"></ons-help-tooltip>
                                    </div>
                                    <label class="chart-area__controls__date__label" for="from_date">Published after</label>
                                    <input id="from_date" name="from_date" placeholder="01/01/2014" type="text">
                                    <label class="chart-area__controls__date__label" for="to_date">Published before</label>
                                    <input id="to_date" name="to_date" placeholder="30/02/2014" type="text">
                                </div>
                            </fieldset>
                        </div>
                        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
                            <ol class="list--table list--table--cushy table--striped-light list--table--releases">
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">10</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Regional gross value added, income approach: December 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">11</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Pensions short stories, accessing defined contribution (DC) pension savings
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">12</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Output in the construction industry: October 2014 and new orders July to September 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">16</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Producer prices indices: November 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">16</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Deaths registered in England and Wales, provisional: week ending 05 December 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">17</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Regional labour market statistics: December 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="list--table__item list--table__body">
                                    <div class="list--table__item__body list--table__item__body--date">
                                        <div class="list--table__item__body__inner">
                                            <time class="date date--stacked" datetime="2014-11-29">
                                                <div class="date--stacked__date">23</div>
                                                <div class="date--stacked__month date--stacked__month--shorthand">Dec</div>
                                                <div class="date--stacked__year">2014</div>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="list--table__item__body list--table__item__body--release-caption">
                                        <div class="list--table__item__body__inner list--table__item__body__split">
                                            <!-- <div class="list--table__item__body__three-fifths"> -->
                                            <div class="list--table__item">
                                                <h2 class="delta flush--half--bottom">
                                                Business investment, revised results: July to September 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                            </div>
                                            <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <!-- <div class="list--table__item list--table__footer list--table--footer--releases">
                    <div class="list--table__item__body">
                        <a href="#" class="link-muted">View all upcoming releases</a>
                    </div>
                </div> -->
                </article>
                </div>
        </section>
        <div class="box hide-large hide-large">
            <span>Get updates to this calendar</span>
            <a href="#">
                <span class="action-link icon-mail icon-inline">email</span>
            </a>
            <a href="#">
                <span class="action-link icon-rss icon-inline">RSS</span>
            </a>
        </div>
        </div>
        </div>
