<span ng-controller="NavigationController as nav">
    <ons-nav trigger="nav.toggleSearch()">
        <ons-nav-item nav-label="Home" href="#!" class="nav nav--multi nav--block nav--primary"></ons-nav-item>
        <ons-nav-item ng-repeat="item in navigation" expandable="true" nav-label="{{item.name}}" class="nav__expandable js-expandable" href="#!{{item.url}}">
            <ons-nav-sub-item ng-repeat="subitem in item.children" nav-label="{{subitem.name}}" href="#!{{subitem.url}}"></ons-nav-sub-item>
        </ons-nav-item>
        <ons-nav-item nav-label="Respondents" class="nav--primary__respondents" label-class="icon-users icon--inline" href="#!"></ons-nav-item>
        <ons-nav-item nav-label="Release calendar" class="nav--primary__secondary-content" href="#!"></ons-nav-item>
        <ons-nav-item nav-label="Methodology" class="nav--primary__secondary-content" href="#!"></ons-nav-item>
        <ons-nav-item nav-label="About" class="nav--primary__secondary-content" href="#!"></ons-nav-item>
    </ons-nav>
    <search-box></search-box>
</span>