      <!-- Latest statistical bulletin -->
 <section class="panel--pad panel--bottom-mar slate wrapper flush--bottom">
          <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-full">
              <article class="box">
                <h2 class="beta">Latest Statistical Bulletins</h2>
                <a href="#!{{getPath()}}/collection?type=bulletins" id="viewAllStatsBulletins" class="action-link hide-med-down">View all statistical bulletins</a>
              </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
              <article class="box">
                <header class="box__header">
                  <h3>
                    <a href="#!/economy/inflationandpriceindices/bulletins/consumerpriceinflation/2013-12-21/">Consumer Price Inflation, August 2014</a>
                  </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                  <p>
                    The Consumer Price Inflation is a monthly release that contains percentage changes
                    and weights for the CPI, CPIH, RPI and RPIJ.
                  </p>
                  <p class="description mini"></p>
                  <p>
                  <span class="lozenge">Statistical bulletin</span>
                </p>
                </div>
                <!-- /box__content -->
              </article>
              <!-- /box -->
            </div>
            <!-- /grid-col -->
            <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
              <article class="box box--padded-vertical rem_pad_top">
                <header class="box__header">
                  <h3>
                    <a href="#">House Price Index August 2014</a>
                  </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                  <p>
                    The ONS House Price Index (HPI) is a monthly release that publishes figures for
                    mix-adjusted average house prices.
                  </p>
                  <p class="description mini"></p>
                  <p>
                  <span class="lozenge">Statistical bulletin</span>
                </p>
                </div>
                <!-- /box__content -->
              </article>
              <!-- /box -->
            </div>
            <!-- /grid-col -->
            <div class="grid-col hide-large">
              <p class="box box--padded-top">
                <a href="#" class="action-link hide-large">View all statistical bulletins</a>
              </p>
            </div>
          </div>
          <!-- /grid-wrap -->
        <!-- /wrapper -->
      </section>