<!-- Latest statistical bulletins -->
<section class="panel wrapper box box--padded--med panel--bottom-mar box--teal--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Latest statistical bulletins</h2>
       <a class="actionable-header--asidelink hide-med-down" href="#!{{getPath()}}/collection?contentType=bulletins" id="viewAllStatsBulletins">View more statistical bulletins</a>
    </header>

    <!-- Static Content if there is not related stats bulletin in the data -->
    <div class="grid-wrap" ng-if="!(taxonomy.data.statsBulletins)">
        <div ng-if="getPage() != 'economy'" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded">
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">This content is not available in the prototype but in future will include related statistical bulletins</li>
                    </ul>
                </div>
            </article>
        </div>

        <!-- /grid-col -->
        <div class="grid-col hide-large">
            <a href="#!{{getPath()}}/collection?contentType=bulletins" id="viewAllStatsBulletins">View all statistical bulletins</a>
        </div>
    </div>
    <!-- /grid-wrap -->


    <!-- Dynamic Content -->
    <div class="grid-wrap" ng-if="(taxonomy.data.statsBulletins)">
        <div ng-repeat="bulletin in taxonomy.data.statsBulletins track by $index" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#!{{bulletin.uri}}">{{bulletin.name}}</a>
                    </h3>
                </header>
                <div class="box__content">
                    <ul class="list--table">

                        <li class="">{{bulletin.data.summary}}.</li>
                    </ul>
                </div>
            </article>
        </div>

        <!-- /grid-col -->
        <div class="grid-col hide-large">
            <a href="#!{{getPath()}}/collection?contentType=bulletins" id="viewAllStatsBulletins">View more statistical bulletins</a>
        </div>
    </div>
</section>
