<a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
  <span>Skip to main content</span>
</a>
<div class="alpha-header cf">
	<a href="#" title="Would you like to to send us some feedback?" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()"><span class="alpha-header__link"></span></a>
	<div>
		<span>EXPERIMENTAL PROTOTYPE </span>
	</div>
	<!-- <ul>
		<li>
			<a>Tell us what you think</a>
		</li>
		<li>
			<a>Project Blog</a>
		</li>
		<li>
			<a>About the Prototype</a>
		</li>
	</ul> -->
</div>
<main id="main" role="main" class="ONS_border">
<!-- temp removal to allow for component list selective wrapping -->
<!-- <div class="wrapper"> -->

  <header class="global-header">
    <div class="global-header__wrapper">
      <a class="main-logo" href="#!/">
        <img src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img">
      </a>
      <ul class="nav globaltop-nav">
      <li><a href="#!/calendar">Release Calendar</a></li>
      <li><a href="#!/methodology">Methodology</a></li>
      <li><a href="#!/about">About</a></li>
    </ul>

    </div>
  </header>

<span ng-include="'app/partials/navigation/navigation.html'"></span>
