<a class="skiplink visuallyhidden focusable" href="#!main" tabindex="0">
  <span>Skip to main content</span>
</a>
<main id="main" role="main" class="ONS_border">
<!-- temp removal to allow for component list selective wrapping -->
<!-- <div class="wrapper"> -->
<div class="wrapper panel--pad-small">
  <header class="global-header">
    <div class="media">
      <a href="#!/">
        <img src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img">
      </a>
      <div class="media__body">
        <ul class="nav nav--inline-block nav--dark globaltop-nav">
          <li>
            <a href="#!">Release calendar</a>
          </li>
          <li>
            <a href="#!">Methodology</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
<ons-nav navigation-data="navigation" ></ons-nav>
<search-box></search-box>