<a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
    <span>Skip to main content</span>
</a>
<main id="main" role="main" class="ONS_border">
    <!-- temp removal to allow for component list selective wrapping -->
    <!-- <div class="wrapper"> -->

    <div class="alpha-header cf">
            <div>
                <span>
                    EXPERIMENTAL PROTOTYPE </span> There may be errors, inconsistencies and inaccuracies</div>
        <ul>
            <li>
                <a>Tell us what you think</a>
            </li>
            <li>
                <a>Project Blog</a>
            </li>
            <li>
                <a>About the Prototype</a>
            </li>
        </ul>
    </div>
    <header class="global-header">
        <div class="global-header__wrapper">
            <a class="main-logo" href="#!/">
                <img src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img">
            </a>
            <ul class="nav globaltop-nav">
                <li><a href="#">Release Calendar</a>
                </li>
                <li><a href="#">Methodology</a>
                </li>
                <li><a href="#">About</a>
                </li>
            </ul>

        </div>
    </header>

    <span ng-include="'app/partials/navigation/navigation.html'"></span>
