<nav class="ons-nav">

    <ul class="nav nav--controls" ng-class="class" >
        <li class="nav--controls__menu">
            <a href="" id="menu-toggle" aria-controls="nav-primary" ng-click="navigation.toggleMenu()" >
                <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                <span class="nav--controls__text">Menu</span>
            </a>
        </li>
        <li class="nav--controls__search" ng-click="navigation.toggleSearch()">
            <a href="" id="search-toggle" aria-controls="nav-search">
                <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                <span class="nav--controls__text">Search</span>
            </a>
        </li>
    </ul>
    <ul ng-transclude class="nav nav--multi nav--block nav--primary" id="nav-primary" ng-class="navigation.showMenu ? '' : 'nav-main--hidden'" aria-expanded="{{navigation.showMenu}}"  >
        
    </ul>
    <search-box></search-box>
</nav>
