
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="UTF-8">
<title>Release Page</title>
<meta content="width=device-width,initial-scale=1.0" name="viewport" />
<meta content="on" http-equiv="cleartype" />
<meta name="format-detection" content="telephone=no">
<!-- http://www.phpied.com/conditional-comments-block-downloads/ -->
<!--[if IE]><![endif]-->
<!-- build:css /ui/css/oldie.css-->
<!--[if lte IE 8]>
  <link rel="stylesheet" href="/ui/css/oldie.css" />
<![endif]-->
<!-- endbuild -->
<!-- build:css /ui/css/main.css-->
<!--[if gt IE 8]><!-->
<!-- <link rel="stylesheet" href="/ui/css/main.css" /> -->
<link href="ui/css/main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<!--<![endif]-->
<!-- endbuild -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" defer></script>
<!--[if (!IE)|(gt IE 8)]>><!-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.0.5/js/jquery.tooltipster.min.js" defer></script>
<!--<![endif]-->
<script type="text/javascript" src="ui/js/app/app.js" defer></script>
<script type="text/javascript" src="ui/js/app/content-reveal.js" defer></script>
<script type="text/javascript" src="ui/js/app/nav.js" defer></script>
<script type="text/javascript" src="ui/js/app/supporting-content.js" defer></script>
<script type="text/javascript" src="ui/js/app/tables.js" defer></script>
<script type="text/javascript" src="ui/js/app/tabs.js" defer></script>
<script type="text/javascript" src="ui/js/custom-autocomplete.js" defer></script>

<!-- Functionality to populate this page -->
<script type="text/javascript" src="/ui/js/markdown.js" defer></script>
<script type="text/javascript" src="/ui/js/release.js" defer></script>

<!---
title: Release Page Template (T6)
external: true
type: template
group: Templates
markup: false
-->
</head>
<body class="">
<a class="skiplink visuallyhidden focusable" href="#main" tabindex="0"> <span>Skip to main content</span> </a>
<main id="main" role="main" class="ONS_border"> 
  <!-- temp removal to allow for component list selective wrapping --> 
  <!-- <div class="wrapper"> -->
  <div class="wrapper panel--pad-small">
    <header class="global-header">
      <div class="media"> <a href="/"> <img src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img"> </a>
        <div class="media__body">
          <ul class="nav nav--inline-block nav--dark globaltop-nav">
            <li> <a href="#">Release calendar</a> </li>
            <li> <a href="#">About</a> </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <nav class="ons-nav">
    <div class="wrapper">
      <ul class="nav nav--multi nav--block nav--primary flush--bottom" id="nav-primary">
        <li class="nav--primary home"> <a href="/"> <span class="icon-home icon--inline"></span> <span class="icon-inline vertical-align-mid">Home</span></a> </li>
        <li> <a href="#" class="nav__expandable js-expandable arrowunderline">Business, Industry, and Trade</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li> <a href="#" tabindex="-1">Business</a> </li>
            <li> <a href="#" tabindex="-1">Changes to business</a> </li>
            <li> <a href="#" tabindex="-1">Construction and industry</a> </li>
            <li> <a href="#" tabindex="-1">IT and internet industry</a> </li>
            <li> <a href="#" tabindex="-1">International trade</a> </li>
            <li> <a href="#" tabindex="-1">Manufacturing and production</a> </li>
            <li> <a href="#" tabindex="-1">Retail industry</a> </li>
            <li> <a href="#" tabindex="-1">Tourism industry</a> </li>
          </ul>
        </li>
        <li> <a href="/home/economy/" class="nav__expandable js-expandable arrowunderline">Economy</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li> <a href="#" tabindex="-1">Economic output and productivity</a> </li>
            <li> <a href="#" tabindex="-1">Environmental account</a> </li>
            <li> <a href="#" tabindex="-1">Government, public sector, and taxes</a> </li>
            <li> <a href="#" tabindex="-1">Gross Domestic Product (GDP)</a> </li>
            <li> <a href="#" tabindex="-1">Gross Values Added (GVA)</a> </li>
            <li> <a href="home/economy/inflationandpriceindices" tabindex="-1">Inflation and price indices</a> </li>
            <li> <a href="#" tabindex="-1">Investment and pension trust</a> </li>
            <li> <a href="#" tabindex="-1">National accounts</a> </li>
            <li> <a href="#" tabindex="-1">Regional accounts</a> </li>
          </ul>
        </li>
        <li> <a href="#" class="nav__expandable js-expandable arrowunderline">Employment and Labour Market</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li> <a href="#" tabindex="-1">People in work</a> </li>
            <li> <a href="#" tabindex="-1">People not in work</a> </li>
            <li> <a href="#" tabindex="-1">Public sector personnel</a> </li>
          </ul>
        </li>
        <li> <a href="#" class="nav__expandable js-expandable arrowunderline">People, Population, and Community</a>
          <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
            <li> <a href="#" tabindex="-1">Births, deaths, and marriages</a> </li>
            <li> <a href="#" tabindex="-1">Community</a> </li>
            <li> <a href="#" tabindex="-1">Education and childcare</a> </li>
            <li> <a href="#" tabindex="-1">Crime and justice</a> </li>
            <li> <a href="#" tabindex="-1">Household characteristics</a> </li>
            <li> <a href="#" tabindex="-1">Well-being</a> </li>
            <li> <a href="#" tabindex="-1">Health and social care</a> </li>
            <li> <a href="#" tabindex="-1">Elections</a> </li>
            <li> <a href="#" tabindex="-1">Personal and household finances</a> </li>
            <li> <a href="#" tabindex="-1">Population and migration</a> </li>
            <li> <a href="#" tabindex="-1">Cultural identity</a> </li>
            <li> <a href="#" tabindex="-1">Housing</a> </li>
            <li> <a href="#" tabindex="-1">Leisure and tourism</a> </li>
          </ul>
        </li>
        <li class="nav--primary__highlight"> <a href="#"> <span class="icon-users icon--inline"></span>Respondents</a> </li>
        <li class="nav--primary__secondary-content"> <a href="#">Release calendar</a> </li>
        <li class="nav--primary__secondary-content"> <a href="#">About</a> </li>
      </ul>
    </div>
  </nav>





<div class="page-header page-header--article page-header--stat-bulletin slate--green">
 <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--stat-bulletin-desc">
            <strong>Time Series Previous Versions</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Alcoholic Beverages - SPECIAL INDEX FOR USE IN NSO - Manu incl duty</h1>
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <img src="/ui/img/nslogo.png" class="page-header-image">
                <p>
                    <strong>Data Period Covered: Feb 1998 - Current</strong>
                </p>
                <p>Next release: 19 March 2014</p>
                <p>Contact: <a href="mailto:jukesie@hotmail.com">Matt Jukes</a>
                </p>
            </div>
            <div class="grid-col desktop-grid-one-third">
                <p>
                    <strong>Series ID: MC6A <a href="#">what is this?</a>
                    </strong>
                </p>
                
                <p>
                <strong>Unit: Index 2010=100</strong>
                </p>
                
                <p>
                    <p>not seasonally adjusted</p>

                </p>

            </div>
        </div>
        <div class="page-header__icons">
            <a href="#" class="link-complex"><span class="icon icon-twitter icon--grey"><span class="visuallyhidden">Share on Twitter</span></span></a>
            <a href="#" class="link-complex">
                <span class="icon icon-facebook icon--grey">
                    <span class="visuallyhidden">Share on Facebook</span>
                </span>
            </a>
        </div>
    </div>
    <!-- /nav-panel -->
    </div>

<div class="wrapper">

<div class="panel">
                <p> Select or enter vintage dates to download data for this series that actually existed on those past dates in history. In general, economic data for past observation periods are revised as more accurate estimates become available. Entering vintage dates allows you to retrieve past revisions of economic data that were actually available as of specific dates. </p>

                <p>Read <a href="#">Download Data Help</a> for more information about the options on this form. Notethat files may take a while to download depending on the number of observations and vintage dates.</p>
           
            </div>
</div>

    

<section id="timeseries" class="panel--large wrapper">
    <table class="tablesaw table--striped-light">

        <thead class="table_clear">
        <tr>
        <th class="no-pad-left" colspan="3" rowspan="1">      
        <div class="list--table-header split__title data_version_header">
          <p class="box--inline"> <span class="">Data published between:&nbsp;&nbsp;</span>
            <div class="field field--spaced box--inline">
              <select class="input input--mini" id="select" name="">
                <option value="1" selected>Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="2">Jun</option>
                <option value="3">Jul</option>
                <option value="4">Aug</option>
                <option value="5">Sep</option>
                <option value="2">Oct</option>
                <option value="3">Nov</option>
                <option value="4">Dec</option>
            </select>
            </div>
            <div class="field field--spaced box--inline">
              <select class="input input--mini" id="select" name="">
                <option value="1" selected>2014</option>
                <option value="3">2013</option>
                <option value="4">2012</option>
                <option value="5">2011</option>
                <option value="2">2010</option>
                <option value="3">2009</option>
                <option value="4">2008</option>
                <option value="5">2007</option>
                <option value="2">2006</option>
                <option value="3">2005</option>
                <option value="4">2004</option>
                <option value="2">2003</option>
                <option value="3">2002</option>
                <option value="4">2001</option>
                <option value="5">2000</option>
                <option value="2">1999</option>
                <option value="3">1998</option>
                <option value="4">1997</option>
                <option value="5">1996</option>
                <option value="2">1995</option>
                <option value="3">1994</option>
                <option value="4">1993</option>
                <option value="2">1992</option>
                <option value="3">1991</option>
                <option value="4">1990</option>
                <option value="5">1989</option>
                <option value="2">1988</option>
                <option value="3">1987</option>
              </select>
            </div>   &nbsp; To&nbsp;
            <div class="field field--spaced box--inline">
              <select class="input input--mini" id="select" name="">
                <option value="1" selected>Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="2">Jun</option>
                <option value="3">Jul</option>
                <option value="4">Aug</option>
                <option value="5">Sep</option>
                <option value="2">Oct</option>
                <option value="3">Nov</option>
                <option value="4">Dec</option>
            </select>
            </div>
            
            <div class="field field--spaced box--inline">
                   <select class="input input--small" id="select" name="">
                <option value="1" selected>2014</option>
                <option value="3">2013</option>
                <option value="4">2012</option>
                <option value="5">2011</option>
                <option value="2">2010</option>
                <option value="3">2009</option>
                <option value="4">2008</option>
                <option value="5">2007</option>
                <option value="2">2006</option>
                <option value="3">2005</option>
                <option value="4">2004</option>
                <option value="2">2003</option>
                <option value="3">2002</option>
                <option value="4">2001</option>
                <option value="5">2000</option>
                <option value="2">1999</option>
                <option value="3">1998</option>
                <option value="4">1997</option>
                <option value="5">1996</option>
                <option value="2">1995</option>
                <option value="3">1994</option>
                <option value="4">1993</option>
                <option value="2">1992</option>
                <option value="3">1991</option>
                <option value="4">1990</option>
                <option value="5">1989</option>
                <option value="2">1988</option>
                <option value="3">1987</option>
              </select>
            </div>
            <div class="field field--spaced box--inline">
             <a href="#" class="btn btn--primary btn--small btn--narrow btn--thin margin">
                <span class="table__action__text">Show</span>
                <span role="presentation"></span>
            </a>
            </div>
          </p>
         
        </div>
        </th>

        <th colspan="1" rowspan="2" class="datatable-select">Select All
          <div class="list--table__item__body--centred small_top_mar">
            <label class="list--table__item__body--centred ">
              <span class="visuallyhidden">Select statistic</span>
                <input st-select-all ng-model="t3.allSelected" type="checkbox">
            </label>
          </div>
        </th>
        </tr>
             
        <tr class="data_version_sub">

          <th colspan="1">Date Updated</th>
          <th colspan="1">Reason for update</th>
          <th colspan="1">More information</th>
                
        </tr>
         
         <tbody>
          
            <tr>
              <th>12 Feb 2014</th>
              <td>Release: Producer Price Index Jan 2014</td>
              <td></td>
              <td class="datatable--checkbox">  <div class="list--table__item list--table__item__body--centred">

                    <input type="checkbox"></td>

                    </div>
            </tr>
            <tr>
              <th>12 Feb 2014</th>
              <td>Release: Producer Price Index Jan 2014</td>
              <td></td>
              <td class="datatable--checkbox"><div class="list--table__item list--table__item__body--centred">

                    <input type="checkbox"></td>

                    </div></td>
            </tr>
            <tr>
              <th>12 Feb 2014</th>
              <td>Correction</td>
              <td><a href="#">View correction note</a></td>
              <td class="datatable--checkbox"><div class="list--table__item list--table__item__body--centred">

                    <input type="checkbox"></td>

                    </div></td>
            </tr>
            <tr>
              <th>12 Feb 2014</th>
              <td>Release: Producer Price Index Jan 2014</td>
              <td></td>
              <td class="datatable--checkbox"><div class="list--table__item list--table__item__body--centred">

                    <input type="checkbox"></td>

                    </div></td>
            </tr>

            <tr class=" datatable-row latest_data_version">
              
              <td colspan="3" class="datatable-downloads">Include latest data with download</td>
              <td class="datatable--checkbox"><div class="list--table__item list--table__item__body--centred">

                    <input type="checkbox"></td>

                    </div></td>
            </tr>
    
        <tr class="list--table__item list--table datatable-row table_clear">
              <td colspan="5" class="datatable-downloads"> 
                <a href="" style="opacity:1" ng-click="t3.downloadCsv()" class="btn btn--primary btn--small download_responsive_btn">
                  <span class="table__action__text">.CSV</span>
                    <span class="icon-download" role="presentation"></span>
                </a>
                <a href="" style="opacity:1"  ng-click="t3.downloadXls()" class="btn btn--primary btn--small download_responsive_btn">
                  <span class="table__action__text">.XLSX</span>
                    <span class="icon-download" role="presentation"></span>
                </a>          
              </td>
              <!--<td colspan="3" ng-if="t3.selectedCount === 0" class="datatable-downloads"> 
                <span class="btn btn--primary btn--small download_responsive_btn">
                  <span class="table__action__text">.CSV</span>
                    <span class="icon-download" role="presentation"></span>
                </span>
                <span href="" ng-click="t3.downloadXls()" class="btn btn--primary btn--small download_responsive_btn">
                  <span class="table__action__text">.XLSX</span>
                    <span class="icon-download" role="presentation"></span>
                </span>          
              </td>
               <!-- /table-actions -->
            </tr>
      <!--  /list-table__item__body -->
  </tbody>
    <!--  /table -->
</table>


  <!--  /section - - timeseries -->
        </section>



        <p></p>
        <p></p>
        <p></p>
        <p></p>



      

  <!--  /section - - timeseries -->
</section>

<div class="wrapper panel--bottom-mar">
    <h3>Important Notes and Usage Information</h3>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra lorem sed massa sodales luctus. Integer sit amet libero purus. Aenean semper mi sapien, congue eleifend turpis consectetur a. Sed nec malesuada ipsum, ac lacinia lorem. Pellentesque at ex viverra, ornare erat non, aliquet dui. Phasellus aliquam quis risus ac consequat. Etiam tempor ipsum eleifend, laoreet mauris ac, malesuada mauris. Praesent eu tellus placerat, aliquam velit sed, maximus sapien.</p>

    <p>Curabitur in est felis. Vestibulum vulputate pellentesque pretium. Vestibulum vel diam vel arcu lacinia pellentesque quis sed ex. Nunc tempor, dui nec iaculis tempor, dolor velit finibus urna, ut consectetur lacus turpis ac mi. Praesent ac malesuada libero. Duis quis ligula ut massa sollicitudin accumsan quis et nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ullamcorper, risus sed blandit tristique, ante ligula sollicitudin quam, et condimentum tortor tortor eget quam. Maecenas laoreet lacus sed dignissim maximus. Etiam eget metus dapibus, sagittis eros eu, facilisis orci. Curabitur scelerisque tristique enim vel varius.</p>

    <p>Vivamus turpis ante, eleifend eu magna in, lacinia placerat diam. Praesent ut odio quis neque aliquet lobortis eget ac purus. Sed libero velit, venenatis vel arcu ut, maximus tristique nunc. Vivamus ligula neque, pharetra sit amet diam et, consequat ullamcorper nibh. Maecenas elit quam, congue a arcu eget, elementum sollicitudin magna. Mauris gravida dui vel ex viverra finibus. Mauris pellentesque nulla vel elit lobortis, sit amet ultricies urna pulvinar. Suspendisse ullamcorper turpis sit amet felis tempus, sit amet scelerisque lacus congue. Curabitur consequat dui at quam mattis, ac posuere nibh tincidunt.
    </p>
  </div>