<!--[if i]><![endif]-->
<!DOCTYPE html>
<html ng-app="onsApp" ng-controller="MainCtrl" >

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title ng-bind="getTitle()"></title>
<!-- This is the entry point for the Angular application. -->
<!-- We've used Angular to implement the Alpha because it made the application quick to prototype. -->
<!-- The Beta phase will probably use less Javascript and more progressive enhancement. -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no"/>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <!-- http://www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
  <link rel="stylesheet" href="../ui/css/oldie.css" />
<![endif]-->
    <!--[if gt IE 8]><!-->
    
        <link href="/dist/css/main.min.css" rel="stylesheet" type="text/css">
        <!-- <link href="/ui/css/main.css" rel="stylesheet" type="text/css"> -->


    <!-- Bugherd integration script: http://bugherd.com/documentation/installing-the-sidebar/ -->
    <script type='text/javascript'>

    	var BugHerdConfig = {"feedback":{"hide":true}};

        (function(d, t) {

            var bh = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = '//www.bugherd.com/sidebarv2.js?apikey=cwz4globzxvnj84jsovora';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');

    </script>

    <!--<![endif]-->
    <!--[if (!IE)|(gt IE 8)]><!-->
    <!-- <script type="text/javascript" src="/ui/js/lib/jquery.tooltipster.min.js" defer></script> -->
    <!--<![endif]-->

    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->

    <!---
title: Angular app page
external: true
type: template
group: Templates
markup: false
-->
    <script type="text/javascript" src="/ui/js/lib/jquery.min.js" defer></script>
    <script type="text/javascript" src="/ui/js/lib/angular.min.js" defer></script>

</head>

<!-- id set to ng-app to make older IE happy with Angular ngInclude directive -->
<!-- Autoscroll solves the issue mentioned on https://stackoverflow.com/questions/21055952/changing-route-doesnt-scroll-to-top-in-the-new-page -->

<body id="ng-app" class="js">

    <noscript>
        <main id="main" role="main" class="ONS_border">
            <div style="margin: 20px;">
                <p>
                    <img class="clearfix" src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img">
                </p>
            </div>
            <hr/>
            <div style="margin: 20px;">
                <h2>This page needs JavaScript to be displayed.</h2>
            </div>
            <div style="padding-left: 20px;">
                <p>You can either:</p>
                <ul>
                    <li>enable Javascript as follows: <a href="http://www.enable-javascript.com/">Enabling JavaScript</a>
                    </li>
                    <li>or browse to a <a href="/static">simplified HTML version</a> of the site (this may be up to a day out of date)</li>
                </ul>
                <p>If you are having difficulty accessing this site, please send a Tweet to <a href="https://twitter.com/jukesie">@jukesie</a>.</p>
            </div>
            <hr/>
        </main>
    </noscript>

    <div ng-include="'app/partials/modal/modal.html'" ></div>
    <a id="my_feedback" class="btn btn--survey" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">Send Feedback</a>
    <ons-header></ons-header>
        <div class="wrap"  ng-if="hasErrors()">
            <span ng-if="error === 404" ng-include="'app/templates/error-pages/error404.html'"></span>
            <span ng-if="error === 500" ng-include="'app/templates/error-pages/error500.html'"></span>
        </span>
        </div>
        <div class="wrap" ng-if="!hasErrors()" ng-view autoscroll="true">
        </div>
        <ons-footer></ons-footer>

</body>

 <!-- Google Analytics -->
    <!-- Angular application(single page) requires page changes sent using javascript.
    Configured in config.js, sendpage commented out to prevent pageview duplicate on load -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-56892037-2', 'auto');
    // ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="/dist/js/ons-lib.min.js" defer></script>

    <script type="text/javascript" src="/dist/js/ons-alpha.min.js" defer></script>

  	<!-- Loop11 integration script for benchmark testing: http://www.loop11.com/ -->
    <script type="text/javascript">
        var loop11_key = "ff7a6d631f9491ca61a546031b4fe317d66338c4";
        document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
    </script>

</html>
