<div>
    <div class="page-header slate">
        <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
        <div class="wrapper">
            <h1 class="page-header__title flush--half--bottom">{{taxonomy.data.name}}</h1>
            <div class="content-reveal lede">
                <p>{{taxonomy.data.lede}}
                    <a href="" toggler="more" toggler-widget-var="w_toggler" ng-if="taxonomy.data.more" class="content-reveal__action">{{w_toggler.isVisible() ? 'Show less' : 'Show more'}}</a>
                </p>
                <div toggleable="more" class="content-reveal__hidden">
                    <p>
                        {{taxonomy.data.more}}
                    </p>
                </div>
            </div>

        </div>
        <!-- /wrapper -->
    </div>
    <!-- /page-header -->
</div>
<!-- /grid-col -->

<section class="panel panel--pad panel--bottom-mar  wrapper flush--bottom">
    <div class="grid-wrap" ng-repeat="sections in taxonomy.data.sections">
        <div ng-repeat="section in sections" class="grid-col tablet-grid-one-third clearfix">
            <article ng-if="!section.nondata" class="box box--padded-vertical">
                <header class="box__header">
                    <h3>
                        <a href="#!{{getPath()}}/{{section.link}}">{{section.name}}</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p >
                       Includes: {{section.children | join:', ': 'name' | charLimit:120:'...'}}
                    </p>
                    
                    
                </div>
            </article>

            <article ng-if="section.nondata" class="box box--orange box--orange--separated-left">
                  <div class="box__inner border box--padded-horizontal box--padded-vertical">
                        <header class="box__header">
                    <h3>
                      <a class="no_underline" href="#">
                  Looking for local statistics?
                </a>
                    </h3>
                  </header>
                  <div class="box__content">
                   
                            <p>A handy guide to let you know where to find local statistics available to you.</p>
               
                        
                    </div>
                  </div>
                    <!-- /box__inner -->
                </article>
        </div>

    </div>
    <div class="grid-wrap">
 
        </div>
    <!-- /grid-wrap -->

    <!-- /wrapper -->
</section>


</div>

