<div class="wrapper panel--bottom-mar">
    <section class="panel wrapper">
        <header class="actionable-header">
            <h2 class="actionable-header__title">Release Calendar</h2>
            <span class="actionable-header__action hide-med-down icon-inline">Get updates to this calendar</span>
            <a class="actionable-header__action hide-med-down" href="#">
                <span class="icon-mail icon-inline">email</span>
            </a>
            <a class="actionable-header__action hide-med-down" href="#">
                <span class="icon-rss icon-inline">RSS</span>
            </a>
        </header>
        <!-- <section class="panel--large wrapper">
        <h2 class="">Release Calendar</h2>
      </section> -->
        <div class="next-releases tab-pane tab-pane--dual lifted">
            <ons-tabs>
                <ons-tab title="Published">
                    <section id="published" role="tabpanel" class="tab-pane__panel" aria-hidden="true">
                        <ol class="list--table list--table--cushy table--striped-light list--table--releases">
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-25">
                                            <div class="date--stacked__date">25</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">Retail Sales - August 2014</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                                          <dl class="definition-list flush micro">
                                            <dt></dt>
                                            <dd>Inflation and Price Indices</dd>
                                          </dl>
                                        </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-25">
                                            <div class="date--stacked__date">25</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">Index of Private Housing Rental Prices - January to August 2014 results</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-29">
                                            <div class="date--stacked__date">29</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">Index of Services - August 2014</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-30">
                                            <div class="date--stacked__date">30</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">Gross Domestic Product: Preliminary Estimate - Q2 2014</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-30">
                                            <div class="date--stacked__date">30</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">GDP and the Labour Market - Q2 2014, August GDP update</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-08-30">
                                            <div class="date--stacked__date">30</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#" class="no_underline">National Accounts Sector Classification - Classification update, August 2014</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-09-19">
                                            <div class="date--stacked__date">19</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Sept</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                <a href="#!/release" class="no_underline">Producer Price Inflation - August 2014</a>
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                <dl class="definition-list flush micro">
                  <dt></dt>
                  <dd>Inflation and Price Indices</dd>
                </dl>
              </div> -->
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div class="list--table__item list--table__footer list--table--footer--releases">
                            <div class="list--table__item__body">
                                <a href="#" class="link-muted">View all published releases</a>
                            </div>
                        </div>
                    </section>

                </ons-tab>
                <ons-tab title="Upcoming">
                    <section id="upcoming" role="tabpanel" class="tab-pane__panel">
                        <ol class="list--table list--table--cushy table--striped-light list--table--releases">
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-11-29">
                                            <div class="date--stacked__date">5</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Nov</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                National Accounts Sector Classification - Classification update, November 2014
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                    </div>
                                </div>
                            </li>
                            <li class="list--table__item list--table__body">
                                <div class="list--table__item__body list--table__item__body--date">
                                    <div class="list--table__item__body__inner">
                                        <time class="date date--stacked" datetime="2014-11-29">
                                            <div class="date--stacked__date">27</div>
                                            <div class="date--stacked__month date--stacked__month--shorthand">Nov</div>
                                            <div class="date--stacked__year">2014</div>
                                        </time>
                                    </div>
                                </div>
                                <div class="list--table__item__body list--table__item__body--release-caption">
                                    <div class="list--table__item__body__inner list--table__item__body__split">
                                        <!-- <div class="list--table__item__body__three-fifths"> -->
                                        <div class="list--table__item">
                                            <h2 class="delta flush--half--bottom">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam, possimus ratione optio dolores.
                                                <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                                            </h2>
                                        </div>
                                        <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div class="list--table__item list--table__footer list--table--footer--releases">
                            <div class="list--table__item__body">
                                <a href="#" class="link-muted">View all upcoming releases</a>
                            </div>
                        </div>
                    </section>
                </ons-tab>
            </ons-tabs>


        </div>
    </section>
    <div class="box hide-large hide-large">
        <span>Get updates to this calendar</span>
        <a href="#">
            <span class="action-link icon-mail icon-inline">email</span>
        </a>
        <a href="#">
            <span class="action-link icon-rss icon-inline">RSS</span>
        </a>
    </div>
</div>