<div ng-controller="ModalController as modal">


<!-- Modal -->
<div class="modal" ng-if="modal.showModal" aria-hidden="true">
      <div class="modalDialog" >

  <div class="modal-header">Experimental Prototype
                <div class="right"><a class="closeButton" href="" g-click="modal.acceptDisclaimer()"><span class="icon-cancel-squared icon--medium"></span></a>
                </div>
            </div>
            <article>
                <div class="message">
                    <div class="grid-col desktop-grid-one-sixth"> <img src="/ui/img/warning.png" alt="warning" /> </div>
                    <div class="grid-col desktop-grid-five-sixths">
                        <p>Welcome to an experimental prototype (‘alpha’) for the Office for National Statistics website.</p>
                        <p>PLEASE BE AWARE – this is a test website. It may contain inaccuracies or be misleading.</p>
                        <p><a href="http://www.ons.gov.uk" title="ONS web site" target="new">www.ons.gov.uk</a> remains the official website for ONS information.</p>
                        <p>Your suggestions will help us make this site better, so if you have any comments please send us <a href="" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()" title="Feedback">feedback</a>.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </article>
            <div class="buttons">
                <ul>
                    <li><a href="http://www.ons.gov.uk">Cancel</a>
                    </li>
                    <li class="rightButton"><a href="" ng-click="modal.acceptDisclaimer()" class="btn btn--primary btn--thin">Proceed</a>
                    </li>
                </ul>
            </div>
            </div>
</div>
<!-- /Modal -->
</div>

