<ons-header></ons-header>
<div class="page-header slate--mid-grey_new">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p>
            <strong>Local Statistics</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Generic Page</h1>

        <div class="page-header__icons">
            <a href="#" class="link-complex">
                <span class="icon icon-twitter icon--grey">
                    <span class="visuallyhidden">Share on Twitter</span>
                </span>
            </a>
            <a href="#" class="link-complex">
                <span class="icon icon-facebook icon--grey">
                    <span class="visuallyhidden">Share on Facebook</span>
                </span>
            </a>
        </div>
    </div>
    <!-- /nav-panel -->
</div>
<section class="panel--large wrapper flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">NESS</h2>
                <a href="" class="action-link hide-med-down">Neighbourhood Statistics</a>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                    <!-- <h3>
                        <a href="">Detailed Statistics</a>
                    </h3> -->
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>
                        Datasets that describe the characteristics of a neighbourhood, with a particular focus on deprivation
                    </p>
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
    </div>
    <!-- /grid-wrap -->
    <div class="box box--padded-top hide-large">
        <p>
            <a href="#" class="action-link">View more</a>
        </p>
    </div>
</section>
<section class="panel--pad panel--bottom-mar slate wrapper flush--bottom">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">Nomis</h2>
                <a href="" id="" class="action-link hide-med-down">Local area labour market statistics</a>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                  <!--   <h3>
                        <a href="">Detailed Statistics</a>
                    </h3> -->
                </header>
                <div class="box__content">
                    <p>
                        Access to the most detailed and up-to-date UK labour market statistics from official sources
                    </p>
                </div>
            </article>
        </div>
        <div ng-if="getPage() === 'economy'" class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
<!--                     <h3>
                        <a href="">Detailed Statistics</a>
                    </h3>
 -->                </header>
                <div class="box__content">
                    <p>
                        Nomis is a service provided by the Office for National Statistics, ONS, to give you free access to the most detailed and up-to-date UK labour market statistics from official sources.
                    </p>
                </div>
            </article>
        </div>
        <!-- /grid-col -->
        <div class="grid-col hide-large">
            <p class="box box--padded-top">
                <a href="#" class="action-link hide-large">Official labour market statistics</a>
            </p>
        </div>
    </div>
    <!-- /grid-wrap -->
    <!-- /wrapper -->
</section>
<section class="panel--large wrapper flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">2011 Census data explorer</h2>
                <a href="" class="action-link hide-med-down">Census data</a>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                    <!-- <h3>
                        <a href="">Detailed Statistics</a>
                    </h3> -->
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>
                        Discover relevant census datasets for your needs and view or download them
                    </p>
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
    </div>
    <!-- /grid-wrap -->
    <div class="box box--padded-top hide-large">
        <p>
            <a href="#" class="action-link">View more</a>
        </p>
    </div>
</section>

<ons-footer></ons-footer>
