    <!-- Other Articles -->
      <section class="panel--large wrapper flush--top">
        <div class="grid-wrap">
          <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
              <h2 class="beta">Related Articles</h2>
              <a href="#!" class="action-link hide-med-down">View more articles</a>
            </article>
          </div>
          <!-- /box -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box">
              <header class="box__header">
                <h3>
                  <a href="#!">Retail Sales, August 2014</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  A first estimate of retail sales in volume and value terms, seasonally and non-seasonally
                  adjusted.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Article</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded-vertical rem_pad_top">
              <header class="box__header">
                <h3>
                  <a href="#!">Economic Review, August 2014</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  A comprehensive review on the UK economy, including the latest GDP estimate and
                  other statistical outputs of ONS.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Expert analysis</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half tablet-grid-clear">
            <article class="box box--padded-vertical">
              <header class="box__header">
                <h3>
                  <a href="#!">Producer Price Inflation, August 2014</a>
                </h2>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  This statistical bulletin contains producer price indices of materials and fuels
                  purchased and output of manufacturing.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Article</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half">
            <article class="box box--padded-vertical">
              <header class="box__header">
                <h3>
                  <a href="#!">CPI Review, August 2014</a>
                </h2>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  A comprehensive review on the UK economy, including the latest GDP estimate and
                  other statistical outputs of ONS.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Expert analysis</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
        </div>
        <!-- /grid-wrap -->
        <div class="box box--padded-top hide-large">
          <p>
            <a href="#!" class="action-link">View more articles</a>
          </p>
        </div>
      </section>
