    <!-- Other Articles -->
      <section class="panel--large wrapper flush--top">
        <div class="grid-wrap">
          <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
              <h2 class="beta">Related Articles</h2>
              <a href="#!{{getPath()}}/collection?contentType=articles" class="action-link hide-med-down">View more articles</a>
            </article>
          </div>
          <!-- /box -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box">
              <header class="box__header">
                <h3>
                  <a href="#">Quisque varius rutrum, August 2014</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  Aliquam tincidunt, mi et aliquam dictum, quam urna vulputate odio, sit amet commodo risus enim et purus.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Article</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded-vertical rem_pad_top">
              <header class="box__header">
                <h3>
                  <a href="#">Vestibulum venenati, August 2014</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  Fusce et ante dapibus purus imperdiet dapibus. Morbi dolor est, ultricies ac commodo in.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Expert analysis</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half tablet-grid-clear">
            <article class="box box--padded-vertical">
              <header class="box__header">
                <h3>
                  <a href="#">Suspendisse ut porttitor, August 2014</a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  Morbi porta quis ligula in ultricies. Praesent sollicitudin sollicitudin tellus, sed vulputate erat rhoncus.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Article</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half">
            <article class="box box--padded-vertical">
              <header class="box__header">
                <h3>
                  <a href="#">Sed commodo, August 2014</a>
                </h2>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <p>
                  Duis ut laoreet felis, eget posuere leo. Morbi sed sem at magna auctor gravida sed non enim.
                </p>
                <p class="description mini"></p>
                <p>
                  <span class="lozenge">Expert analysis</span>
                </p>

              </div>
              <!-- /box__content -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
        </div>
        <!-- /grid-wrap -->
        <div class="box box--padded-top hide-large">
          <p>
            <a href="#" class="action-link">View more articles</a>
          </p>
        </div>
      </section>
