<!-- Related Articles -->
<section class="panel wrapper box box--padded--med panel--bottom-mar box--grey--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Related Articles</h2>
        <a class="actionable-header--asidelink" href="#!{{getPath()}}/collection?contentType=articles" class="hide-small">View more articles</a>
    </header>
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#">Quisque varius rutrum, August 2014</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Aliquam tincidunt, mi et aliquam dictum, quam urna vulputate odio, sit amet commodo risus enim et purus.</li>
                        <!-- <li>Between 1997 and 2011 the contribution of building to total GVA decreased in each of the NUTS1 regions.</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#">Vestibulum venenati, August 2014</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li> Fusce et ante dapibus purus imperdiet dapibus. Morbi dolor est, ultricies ac commodo in.</li>
                        <!-- <li>Falls in transport services costs, notably air fares</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half tablet-grid-clear">
            <article class="box--padded">
                <header class="box__header">
                    <h3>
                         <a href="#">Suspendisse ut porttitor, August 2014</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li> Morbi porta quis ligula in ultricies. Praesent sollicitudin sollicitudin tellus, sed vulputate erat rhoncus.</li>
                        <!-- <li>Between 1997 and 2011 the contribution of building to total GVA
                  decreased in each of the NUTS1 regions.</li>
                <li>In 2012 the South East had the largest increase in GVA</li>
                <li>Between 1997 and 2011 the contribution of building to total GVA
                  decreased in each of the NUTS1 regions.</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col hide-large">
            <a href="#!{{getPath()}}/collection?contentType=articles">View more articles</a>
        </div>
    </div>
    <!-- /grid-wrap -->
</section>
<!-- /section -->
