<ons-header></ons-header>
<div class="page-header page-header--article page-header--local-stats slate--orange">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--local-stats-desc">
            <strong>Local Statistics</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Local statistics available to you</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>
<section class="panel--large wrapper flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">
                    <a href="http://www.neighbourhood.statistics.gov.uk/dissemination/" class="action-link hide-med-down">Official Labour Market Statistics (nomis)
                </a>
                </h2>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                    <p>
                        Free access to detailed and up to date UK Labour Market statistics from official sources.
                    </p>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>
                    nomis allows you to:
                    </p>
                    <ul>
                        <li>design and define your own analysis for a wide range of statistical geographies</li>
                        <li>build your own geographic areas and compare with others areas</li>
                        <li>produce summary reports for individual areas</li>
                        <li>produce detailed analysis for multiple geographic areas</li>
                    </ul>
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
    </div>
    <!-- /grid-wrap -->
    <div class="box box--padded-top hide-large">
        <p>
            <a href="#" class="action-link">View more</a>
        </p>
    </div>
</section>
<section class="panel--large wrapper flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">
                <a href="https://www.nomisweb.co.uk/" class="action-link hide-med-down">Neighbourhood Statistics (NeSS)</a>
                </h2>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                    <p>
                        Free access to a summary of your neighbourhood and small area data covering: the census, deprivation, health, local economy, education, housing and crime.
                    </p>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>
                        NeSS allows you to:
                    </p>
                    <ul>
                        <li>analyse and compare selected areas using maps and charts</li>
                        <li>pick and mix data from different datasets to compare different areas</li>
                        <li>view or download whole datasets</li>
                    </ul>
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
    </div>
    <!-- /grid-wrap -->
    <div class="box box--padded-top hide-large">
        <p>
            <a href="#" class="action-link">View more</a>
        </p>
    </div>
</section>
<section class="panel--large wrapper flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-full">
            <article class="box">
                <h2 class="beta">
                <a href="http://www.ons.gov.uk/ons/guide-method/census/2011/index.html" class="action-link hide-med-down">2011 Census data explorer (Beta)</a>
                </h2>
            </article>
        </div>
        <!-- /box -->
        <div class="grid-col desktop-grid-two-thirds tablet-grid-one-half">
            <article class="box">
                <header class="box__header">
                    <p>
                        A tool providing free access to 2011 Census data including: demography, ethnicity and identity, health, housing and qualifications.
                    </p>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>
                        Data explorer allows you to:
                    </p>
                    <li>find data by area or topic</li>
                    <li>customise online and download just the data you need</li>
                    <li>generate and download charts and maps for your data</li>
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
    </div>
    <!-- /grid-wrap -->
    <div class="box box--padded-top hide-large">
        <p>
            <a href="#" class="action-link">View more</a>
        </p>
    </div>
</section>

<ons-footer></ons-footer>
