<breadcrumb>
    <div class="wrapper panel--pad-small">
        <ol class="nav nav--heavy breadcrumb mini flush"  ng-if="data" >
            <li>
                <a href="#!/">Home</a>
            </li>
            <li ng-repeat="item in data.parent">
                <a href="#!{{getParentOf(item.fileName)}}/{{item.fileName}}">{{item.name}}</a>
            </li>
            <li class="nav__active">
                <a href="#!{{getPath()}}">{{data.current}}</a>
            </li>
        </ol>
        <!-- /Wrapper panel -->


    </div>
</breadcrumb>