<breadcrumb>
    <div class="wrapper panel--small"  ng-if="data" >
        <ol class="nav nav--heavy breadcrumb breadcrumb_hero mini" >
            <li>
                <a href="#!/">Home</a>
            </li>
            <li ng-repeat="item in data.parent track by $index">
                <a ng-href="#!{{getParentOf($index)}}/{{item.fileName}}">{{item.name}}</a>
            </li>
            <li class="nav__active breadcrumb">
                {{data.current}}
            </li>
        </ol>
        <!-- /Wrapper panel -->


    </div>
</breadcrumb>