<div ng-controller="chartController">

<style>
.chart{
    height:440px;
  }
  /* CHART: tooltip side bar */
  .sidebar {
    width:30px;
    height:100px;
    margin-right: 5px;
    float:left;
    background-color: #ddd;
  }
  .title {
    font-size:14px;
    text-transform: uppercase;
  }

#custom-tooltip {
  display:block;
  height: 100px;
  width: 190px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 1);
}
  .maintext {
    display:block;
    width:190px;
    height:100px;
    background-color: rgba(255, 255, 255, 1);
  }

.circle{
    margin:0px;
    margin-left: 9px;
  padding:0px;
  height:14px;
  font-size: 22px;
  color:#8FBED8;
  line-height: 13px;
  clear:both;
}

.square{
    margin:0px;
    margin-left: 9px;
  padding:0px;
  height:21px;
  font-size: 20px;
  color:#5296C3;
  line-height: 21px;
  clear:both;
}

.diamond{
    margin:0px;
    margin-left: 10px;
  padding:0px;
  height:19px;
  font-size: 20px;
  color:#1377B2;
  line-height: 19px;
  clear:both;
}

.triangle{
    margin:0px;
    margin-left: 9px;
  padding:0px;
  height:16px;
  font-size: 14px;
  color:#1673AC;
  line-height: 20px;
  clear:both;
}

.tip{
  padding:0px;
  padding-top:1px;
  padding-bottom:1px;
}

.tiptext{
  margin:0px;
  padding:0px;
    padding-top:1px;
  left:0px;
  text-align:left;
}

.tooltip-right {
    width:90px;
    height:50px;

    position:relative;
}

.tooltip-right:after {
    content:"";
    border-color: transparent transparent transparent #ddd;
    border-style:solid;
    border-width:10px;
    width:0;
    height:0;
    position:absolute;
    bottom:15px;
    left:189px
}

.tooltip-left {
    width:190px;
    height:50px;
    position:relative;
}

.tooltip-left:after {
    content:"";
    border-color: transparent #ddd transparent transparent ;
    border-style:solid;
    border-width:10px;
    width:0;
    height:0;
    position:absolute;
    bottom:15px;
    left:-21px
    }

</style>


<!-- Title and release date -->
<div class="page-header page-header--article page-header--time-series slate--green">
    <div class="wrapper">
        <p>
            <strong>{{header}}</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">{{chart.name}}</h1>
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-half">
                <img src="/ui/img/nslogo.png" class="page-header-image" alt="ONS logo">
                <p>
                    <strong>{{chart.lastUpated}}</strong>
                    <span class="page-header-box-link">
                        <a href="#">
                            <strong>View latest version</strong>
                        </a>
                    </span>
                </p>
                <p>Next release: {{chart.nextUpdate}} (provisional)</p>
                <p>Contact: <a href="mailto:jukesie@hotmail.com">Juksie</a>
                </p>
            </div>
            <div class="grid-col desktop-grid-one-quarter invisible">.</div>
            <div class="grid-col desktop-grid-one-quarter">
                <p>
                    <strong>Series ID: {{chart.cdid}}</strong>
                </p>
                <p>
                    <strong>Units: {{chart.units}}</strong>
                </p>
                <p>{{chart.seasonalAdjustment}}</p>
            </div>
        </div>
        <div class="page-header__icons">
            <a href="#" class="link-complex">
                <span class="icon icon-twitter icon--grey">
                    <span class="visuallyhidden">Share on Twitter</span>
                </span>
            </a>
            <a href="#" class="link-complex">
                <span class="icon icon-facebook icon--grey">
                    <span class="visuallyhidden">Share on Facebook</span>
                </span>
            </a>
        </div>
    </div>
    <!-- /nav-panel -->
</div>

<!-- Download whole series section -->
<div class="wrapper">
    <div class="actionable-header--tight panel--mar-small">
        <!-- This title will need to be dynamically generated on the server -->
        <h2 class="actionable-header--tight__title gamma flush--bottom body-type--heavy">Download this entire time series</h2>
        <div class="actionable-header--tight__action actionable-header--tight__action--left">
            <a class="btn btn--primary btn--small" href="#">
              .csv
              <span class="icon-download icon--button-inline" role="presentation"></span>
            </a>
            <a class="btn btn--primary btn--small" href="#">
              .xsl
              <span class="icon-download icon--button-inline" role="presentation"></span>
            </a>
        </div>
    </div>
</div>

<!-- Chart in Highcharts -->
<div class="wrapper">
    <div ng-controller="chartController">
        <a href="" ng-click="changeChartType('line')">Line</a>
        <a href="" ng-click="changeChartType('bar')">Bar</a>
        <a href="" ng-if="hasYData" ng-click="changeChartTime('year')">Year</a>
        <a href="" ng-if="hasQData" ng-click="changeChartTime('quarter')">Quarter</a>
        <a href="" ng-if="hasMData" ng-click="changeChartTime('month')">Month</a>
        <br></br>
        <highchart id="chart_prices" config="chartData"></highchart>
    </div>
</div>
<br></br>

<!-- Notes and info section -->
<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
            <div class="panel--bottom-mar">
                <div class="lede">
              <p>
                {{chart.description}}
              </p>
            </div>
                <h3>Important Notes and Usage Information</h3>
                <ol class="dataset_usage">
                    <li>{{chart.note1}}</li>
                    <li>{{chart.note2}}</li>
                </ol>
            </div>
        </div>
        <!-- Sidebar -->
        <div ng-if="sidebar">
            <div ng-include="sidebarUrl"></div>
        </div>
    </div>
</div>

</div>
