<div id="t5" ng-controller="ChartController as chart">
    <!-- Title and release date -->
    <div class="page-header flush--half--bottom  page-header--article page-header--time-series slate--green">
        <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
        <div class="wrapper">
            <p class="page-header__title page-header--time-series-desc">
                <strong>{{header}}</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">{{chart.timeseries.name}}</h1>
            <a href="#!/nationalstats"><img class="page-header--article__img" src="../ui/img/national-statistics.png" alt="The official National Statistics badge"></a>

            <div class="page-header--article__body">
              <div class="page-header--article__split">
                <dl class="split--fixed page-header--article__split__meta">
                  <dt class="split--fixed__title definition-emphasis"><strong>Release date:</dt>
                  <dd>
                    <span class="definition-emphasis">{{chart.timeseries.lastUpated || '1 Jan 3000'}}</strong></span> <a href="#!/previous" class="split__multiline-break">View previous releases</a>
                  </dd>
                  <dt class="split--fixed__title">Next release:</dt>
                  <dd>{{chart.timeseries.nextUpdate || '1 Feb 3000'}}</dd>
                  <dt class="split--fixed__title">Contact:</dt>
                  <dd>In the future this will display the statistical contact
                  </dd>
                  <dt class="split--fixed__title">Source:</dt>
                  <dd>{{chart.timeseries.source ? chart.timeseries.source : 'Office for National Statistics'}}
                  </dd>
                </dl>
                <ul class="list--neutral page-header--article__split__actions">
                  <li>
                    <span class="page-header-item">
                        <strong>Series ID: {{chart.timeseries.cdid}}</strong>
                        <ons-help-tooltip tip="This series ID is a unique random identifier for this individual time series. The digits themselves do not have any specific meaning" tip-class="icon--inline--large-text icon--inline"></ons-help-tooltip>
                    </span>
                  </li>
                  <li>
                    <span class="page-header-item">
                        <strong>Unit: {{chart.timeseries.preUnit}} {{chart.timeseries.unit}}</strong>
                    </span>
                  </li>
                  <li>
                    <span class="page-header-item">{{chart.timeseries.seasonalAdjustment}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <social-links></social-links>
        </div>
        <!-- /nav-panel -->
    </div>

    <!-- Download whole series section -->
    <div class="wrapper" ng-if="chart.renderChart">
        <div class="actionable-header--tight panel--mar-small">
            <!-- This title will need to be dynamically generated on the server -->
            <h2 class="actionable-header--tight__title gamma flush--bottom body-type--heavy">Download this entire time series</h2>
            <div class="actionable-header--tight__action actionable-header--tight__action--left">
                <a id="imgExp" style="margin-right:4px" class="btn btn--primary btn--small" href="" ng-click="chart.exportImage()">
                    Image
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                <a class="btn btn--primary btn--small" href="" ng-click="t5.downloadCsv()">
                    .csv
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                </a>
                <a class="btn btn--primary btn--small" href="" ng-click="t5.downloadXls()">
                    .xlsx
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                </a>
            </div>
        </div>

        <!-- Chart in Highcharts -->
        <div ons-tabs tabs-active-var="selectedKey" class="cf chart-area slate">
            <div class="chart-area__controls border-horizontal-single">
                <!-- border-horizontal-single -->
                <form>
                    <div class="button-bar chart-area__controls__buttons">
                        <div class="button-group chart-area__controls__type">
                            <label ons-tab-control="chart" class="btn btn--secondary btn--small btn--narrow btn--thin" ng-class="{'btn--secondary--active': selectedKey === 'chart'}" ng-click="chart.showChart()">Chart</label>
                            <label ons-tab-control="table" class="btn btn--secondary btn--small btn--narrow btn--thin" ng-class="{'btn--secondary--active': selectedKey === 'table'}" ng-click="chart.showTable()">Table</label>
                        </div>
                        <div class="button-group chart-area__controls__timespan">
                            <label class="btn btn--secondary btn--small btn--narrow btn--thin " ng-if="chart.showMonthly" ng-class="{'btn--secondary--active': chart.isActive('months')}" ng-click="chart.changeChartType('months')">Month</label>
                            <label class="btn btn--secondary btn--small btn--narrow btn--thin" ng-if="chart.showQuarterly" ng-class="{'btn--secondary--active': chart.isActive('quarters')}" ng-click="chart.changeChartType('quarters')">Quarter</label>
                            <label class="btn btn--secondary btn--small btn--narrow btn--thin" ng-if="chart.showYearly" ng-class="{'btn--secondary--active': chart.isActive('years')}" ng-click="chart.changeChartType('years')">Year</label>
                        </div>
                    </div>
                    <div class="button-group chart-area__controls__time">
                        <span class="chart-area__controls__time__label">Time period:</span>
                        <ul class="nav flush--top chart-area__controls__time__ranges">
                            <li>
                                <a href="" ng-if="chart.timePeriod != 'A'" ng-click="chart.changeTimePeriod('A')">All</a>
                                <div ng-if="chart.timePeriod === 'A'">All</div>
                            </li>
                            <li ng-if="chart.tenYears">
                                <a href="" ng-if="chart.timePeriod != '10'" ng-click="chart.changeTimePeriod('10')">Last 10 yrs</a>
                                <div ng-if="chart.timePeriod === '10'">Last 10 yrs</div>
                            </li>
                            <li>
                                <a href="" ng-if="chart.timePeriod != '5'" ng-click="chart.changeTimePeriod('5')">Last 5 yrs</a>
                                <div ng-if="chart.timePeriod === '5'">Last 5 yrs</div>
                            </li>
                            <li toggler="custom-filters" toggler-widget-var="w_toggler" ng-class="w_toggler.isVisible() ? 'chart-area__controls__custom--active' : ''">
                                <a href="" class="link-complex">
                                    <span class="link-complex__target">Custom</span>
                                    <span ng-class="w_toggler.isVisible()  ? 'icon-up-open-big icon--inline' : 'icon-down-open-big icon--inline' " role="presentation"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- selector for table and chart -->
                    <div toggleable="custom-filters" class="chart-area__controls__custom">
                        <div class="chart-area__controls__custom__errors"></div>
                        <div class="chart-area__controls__custom__container__table">
                            <div class="chart-area__controls__dropdowns">
                                <!-- Selector for table only -->
                                <!-- <fieldset ng-show="chart.tableVisible" class="chart-area__controls__date">
                                    <legend class="chart-area__controls__date__label">Find</legend>
                                    <input ng-model="query" type="test" />
                                </fieldset> -->

                                <fieldset class="chart-area__controls__date">
                                    <legend class="chart-area__controls__date__label">From</legend>
                                    <select ng-if="chart.isActive('quarters')" class="chart-area__controls__month" ng-model="chart.fromQuarter" ng-options="q for q in chart.quarters" ng-change="chart.changeTimePeriod()">
                                    </select>
                                    <select ng-if="chart.isActive('months')" class="chart-area__controls__month" ng-model="chart.fromMonth" ng-options="m for m in chart.months" ng-change="chart.changeTimePeriod()">
                                    </select>
                                    <select class="chart-area__controls__year" ng-model="chart.fromYear" ng-options="y for y in chart.years" ng-change="chart.changeTimePeriod()">
                                    </select>
                                </fieldset>

                                <fieldset class="chart-area__controls__date">
                                    <legend class="chart-area__controls__date__label">To</legend>
                                    <select ng-if="chart.isActive('quarters')" class="chart-area__controls__month" ng-model="chart.toQuarter" ng-options="q for q in chart.quarters" ng-change="chart.changeTimePeriod()">
                                    </select>
                                    <select ng-if="chart.isActive('months')" class="chart-area__controls__month" ng-model="chart.toMonth" ng-options="m for m in chart.months" ng-change="chart.changeTimePeriod()">
                                    </select>
                                    <select class="chart-area__controls__year" ng-model="chart.toYear" ng-options="y for y in chart.years" ng-change="chart.changeTimePeriod()">
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <br></br>
                    </div>
                </form>

                <!-- chart -->
                <div ons-tab="chart">
                    <highchart class="highcharts-background" id="chart_prices" config="chart.chartConfig">
                    </highchart>
                </div>

                <!-- table -->
                <div ons-tab="table">
                    <table class="tablesaw">
                        <thead>
                            <tr>
                                <th><a href="" ng-click="sortField = 'value'; reverse = !reverse">Period</a>
                                    <span class="icon-down-dir icon--button-inline" role="presentation"></span>
                                </th>
                                <th><a href="" ng-click="sortField = 'y'; reverse = !reverse">Value</a>
                                    <span class="icon-down-dir icon--button-inline" role="presentation"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in chart.chartData | filter:query | orderBy:sortField:reverse">
                                <td>{{data.name}}</td>
                                <td>{{data.y}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Custom downloads -->
            <div ng-if="chart.timePeriod != 'A'" class="">
                <table width="100%">
                    <tr>
                        <td style="text-align:right;">
                            <span class="chart-area__footer__label">Download custom data</span>
                            <a id="imgExp" ng-click="chart.exportImage()" class="btn btn--primary btn--small" href="">
                    Image
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                            <a class="btn btn--primary btn--small" href="" ng-click="chart.downloadCsv()">
                    .csv
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                            <a class="btn btn--primary btn--small" href="" ng-click="chart.downloadXls()">
                    .xlsx
                    <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-bar">
                <ons-accordion multiple="true">
                    <article style="margin-top:18px" class="border-horizontal-single">
                        <ons-accordion-item closed="true" header="Related time series and datasets">
                            <!-- /box__header -->
                            <div class="box__content">
                                <h4 style="margin-top:10px">Related time series</h4>
                                <div ng-repeat="relatedTimeseries in taxonomy.data.relatedTimeseriesData | orderBy:'name'">
                                    <div style="margin-left:10px">
                                        <a href=#!{{relatedTimeseries.uri}}>{{relatedTimeseries.name}}</a>
                                    </div>
                                </div>
                                <h4 style="margin-top:10px">Datasets that contain {{chart.timeseries.name}} and related time series</h4>
                                <div style="margin-left:10px">
                                    <div><a href="">At graecis maluisset pro</a>
                                    </div>
                                    <div><a href="">Per an omnis dicat libris</a>
                                    </div>
                                    <div><a href="">Pro ad case probo nostro</a>
                                    </div>
                                </div>
                            </div>
                        </ons-accordion-item>
                    </article>
                    <!-- /article__content -->
                </ons-accordion>
            </div>
        </div>
    </div>
    <p></p>

    <!-- Accordion for related timeseries and datasets -->
    <!--         <div class="wrapper panel--bottom-mar">
        <div class="panel wrapper box box--padded--med panel--bottom-mar box--green--separated-left solid border">
            <div class="grid-wrap">
                <div class="grid-col">
                    <div class="panel--bottom-mar">
                    </div>
                </div>
        </div>
        </div>
    </div> -->

    <!-- Notes and info section -->
    <div class="wrapper panel--bottom-mar">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <div class="panel--bottom-mar">
                    <div class="lede">
                        <p ng-if='chart.timeseries.description'>
                            {{chart.timeseries.description}}
                        </p>
                        <p ng-if="!chart.timeseries.description">
                            In the future a short description of this series will be displayed in this area.
                        </p>
                    </div>
                    <div ng-if="chart.timeseries.note1">
                        <h3>Important notes and usage information</h3>
                        <ol class="dataset_usage">
                            <li>{{chart.timeseries.note1}}</li>
                            <li>{{chart.timeseries.note2}}</li>
                        </ol>
                    </div>
                    <br></br>
                    <!-- <div ng-if="taxonomy.data.relatedTimeseriesData[0]">
                        <h3>Related series</h3>

                        <div class="padded">
                            <div ng-repeat="relatedTimeseries in taxonomy.data.relatedTimeseriesData | orderBy:'name'">
                                <div>
                                    <a href=#!{{relatedTimeseries.uri}}>{{relatedTimeseries.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!taxonomy.data.relatedTimeseriesData[0]">
                        <h3>Related series</h3>
                        <p>In the future some related series will be displayed in this area</p>
                    </div> -->
                </div>
            </div>
            <!-- Sidebar -->
            <div ng-if="sidebar">
                <div ng-include="sidebarUrl"></div>
            </div>
        </div>
        <contact-details></contact-details>
    </div>

</div>
