<div class="grid-col desktop-grid-one-third tablet-grid-one-third">
    <!-- article__content -->
<!--     <article class="box box--green box--green--separated-left lifted">
        <div class="box__inner border box--padded border--large-left">
            <header class="box__header">
                <div class="grid-wrap ">
                    <div class="grid-col desktop-grid-five-sixths">
                        <h3>Datasets that contain this and related time series</h3>
                    </div>
                </div>
                <div class="padded"></div>
            </header>
            <div class="box__content">
                <div>
                    <p><a href="">At graecis maluisset pro</a>
                    </p>
                    <p><a href="">Per an omnis dicat libris</a>
                    </p>
                    <p><a href="">Pro ad case probo nostro</a>
                    </p>
                </div>
            </div>
            <footer class="box__footer box__actions">
            </footer>
        </div>
    </article> -->
    <!-- /article__content -->


    <!-- article__content -->
    <article class="box box--blue box--blue--separated-left lifted">
        <div class="box__inner border box--padded border--large-left">
            <header class="box__header">
                <div class="grid-wrap ">
                    <!-- <div class="grid-col desktop-grid-one-sixth">
                        <h2>
                            <span class="icon icon-info-circled icon--grey"></span>
                        </h2>
                    </div> -->
                    <div class="grid-col desktop-grid-five-sixths">
                        <h3>Statistical Bulletins and articles that use this time series</h3>
                    </div>
                </div>
                <div class="padded"></div>
            </header>
            <!-- /box__header -->
            <div class="box__content">
                <div ng-if="(taxonomy.data.relatedBulletinData).length === 0">
                    <p>
                        <a href="">Assum efficiantur eum cu, January 2014</a>
                    </p>
                    <p>
                        <a href="">Ne his tractatos disputando, January 2014</a>
                    </p>
                    <p>
                        <a href="">Vel ut soleat mollis meliore (6) publications</a>
                    </p>
                </div>
                <div ng-repeat="bulletin in taxonomy.data.relatedBulletinData">
                    <p><a href=#!{{bulletin.uri}}>{{bulletin.name}}</a>
                </div>
                <!-- /list- -bullet -->
            </div>
            <!-- /box__content -->
            <footer class="box__footer box__actions">
                <!-- <p class="right"> <a href="#" title="Opens in new window">View all contacts</a>
                    <span class="icon icon-book icon--blue-alt"></span>
                </p> -->
            </footer>
        </div>
    </article>
    <!-- /article__content -->
    <!-- article__content -->
    <article class="box box--orange box--orange--separated-left lifted">
        <div class="box__inner border box--padded border--large-left">
            <header class="box__header">
                <div class="grid-wrap ">
                    <!-- <div class="grid-col desktop-grid-one-sixth">
                        <h2>
                            <span class="icon icon-info-circled icon--grey"></span>
                        </h2>
                    </div> -->
                    <div class="grid-col desktop-grid-five-sixths">
                        <h3><a href="#!/localstats">Looking for local statistics?</a></h3>
                    </div>
                </div>
                <div class="padded"></div>
            </header>
            <!-- /box__header -->
            <div class="box__content">
                <p>A handy guide to let you know where to find local statistics available to you
                </p>
                <!-- /list- -bullet -->
            </div>
            <!-- /box__content -->
            <footer class="box__footer box__actions">
                <!-- <p class="right"> <a href="#" title="Opens in new window">View all contacts</a>
                    <span class="icon icon-book icon--blue-alt"></span>
                </p> -->
            </footer>
        </div>
    </article>

</div>
