<!--New homepage starts here!-->



<div class="wrapper panel">
    <article class="box flush">
        <header class="box__header">
            <h2>
            Welcome to the Office for National Statistics
            </h2>
        </header>
        <!-- /box__header -->

        <div class="box__content">
            <p>The UK's largest independent producer of official statistics and the recognised national statistical institute of the UK.</p>
            <!--  /list-bullet -->
        </div>
        <!-- /box__content -->
    </article>
</div>
<div class="wrapper panel--top-mar-small">
    <header>
        <h2>Statistical highlights</h2>
    </header>
</div>


<!-- panel -->
<div class="panel slate--home--hero-banner flush--top">
    <div class="wrapper nav-panels">
        <div class="grid-wrap">
            <div ng-repeat="section in taxonomy.data.sections" class="grid-col tablet-wide-grid-one-fifth">
                <article ng-repeat="item in section.items" class="nav-panel nav-panel--stats sectioned">
                    <div class="navpanel_wrapper_home">
                        <a href="#!{{item.uri}}"><span class="navpanel_wrapper_home__link"></span></a>
                        <header class="nav-panel__header nav-panel__header_home nav-panel__roomy--med">
                            <h2 class="delta">{{item.name}}</h2>
                        </header>
                        <div class="nav-panel__roomy box flush">
                            <ul class="list--neutral nav-panel__list flush">
                                <li class="nav-panel__body flush spaced">
                                    <dl class="homeicon_{{section.link}} flush--bottom">
                                        <dd class="nav-panel__value">
                                            <div class="stat">
                                                <div class="stat__figure nav_home-stats">
                                                    <span class="stat__figure__unit">{{item.data.preUnit}}</span> {{item.data.number}} <span class="stat__figure__unit">{{item.data.unit}}</span>
                                                    <div class="stat__description-large">{{item.data.date}}</div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </li>
                                <ons-loading condition="!item.data"></ons-loading>
                                <li class="nav-panel__item homeicon_sparkline">
                                    <div style="height:30px"></div>
                                    <ons-sparkline chart-data="item.chartData" width="120" height="50"></ons-sparkline>
                                </li>
                            </ul>
                            <!-- /nav-panel__roomy -->
                        </div>
                        <!-- /navpanel_wrapper_home -->
                    </div>
                    <footer class="nav-panel__footer-home">
                        <div class="nav-panel__action background_neutral ">
                            <a class="nav-panel__roomy--med right-small centred-med-up" href="#!{{getPath()}}{{section.link}}">Explore {{section.name}}</a>
                        </div>
                    </footer>
                </article>
            </div>
            <!-- /grid-wrap -->
        </div>
        <!-- /wrapper -->
    </div>
    <!-- /panel-->
</div>

<!-- panel wrapper -->
<section class="panel wrapper flush--bottom ">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">New this week</h2>
        <a class="hide-med-down actionable-header--asidelink" href="#!/calendar">View new and upcoming releases</a>
    </header>
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3>
               <a href="#!/releases/populationestimates">Population Estimates</a>
             </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Annual estimates of the size of the UK “usually resident population” are calculated at the mid-year point (30 June).</li>
                    </ul>
                    <!-- /box__content -->
                </div>
                <!-- /box- -padded-vertical -->
            </article>
            <!-- /grid-col -->
        </div>

        <!-- grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3>
               <a href="#!/releases/inflationandpriceindices">Inflation and Price Indices</a>
             </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Inflation measures the rate of increase in prices for goods and services using price indices.
                        </li>
                    </ul>
                    <!-- /box__content -->
                </div>
                <!-- /box- -padded-vertical -->
            </article>
            <!-- /grid-col -->
        </div>

        <div class="grid-col desktop-grid-one-third tablet-grid-one-half tablet-grid-clear">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3>
               <a href="#!/releases/drugusealcoholandsmoking">Drug Use, Alcohol and Smoking</a>
             </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Statistics on drug use, alcohol and smoking focus on deaths and illnesses related to these areas.
                        </li>
                    </ul>
                    <!-- /box__content -->
                </div>
                <!-- /box- -padded-vertical -->
            </article>
            <!-- /grid-col -->
        </div>
        <div class="grid-col hide-large">
            <a href="#">View new and upcoming releases</a>
        </div>
        <!-- /grid-wrap -->
    </div>
    <!-- /section -->
</section>


<div class="wrapper panel flush--top">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-half tablet-grid-full-width">
            <article class="box border home_callout homeicon_census">
                <div class="box__inner box--padded">
                    <div class="grid-wrap">
                        <div class="grid-col grid-one-half ">

                        </div>
                        <div class="grid-col grid-one-half floater-right ">
                            <div class="media__body">
                                <header class="box__header pad_regional_header">
                                    <h2 class="callout-header">
                          <ul class="list--neutral">
                            <li>Who we are.</li>
                            <li>How we live.</li>
                            <li>What we do.</li>
                          </ul>
                        </h2>
                                    <!-- /box__header -->
                                </header>
                            </div>
                        </div>
                        <div class="box__content list--table__item__body--icon div_panel_link">
                            <a class="" href="http://www.ons.gov.uk/ons/data/area-first/">2011 Census <span class="icon-right-open-big"></span></a>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /grid-col -->
        </div>


        <div class="grid-col desktop-grid-one-half tablet-grid-full-width">
            <article class="box border home_callout homeicon_datavis">
                <div class="box__inner box--padded ">
                    <div class="grid-wrap">
                        <div class="grid-col grid-one-half floater-right">
                            <div class="media__body">
                                <header class="box__header pad_regional_header">
                                    <h2 class="callout-header">
                          <ul class="list--neutral">
                            <li>Introducing Visual.ONS</li>
                          </ul>
                        </h2>
                                    <!-- /box__header -->
                                </header>
                            </div>
                        </div>
                        <div class="media__body">
                            <div class="box__content list--table__item__body--icon  div_panel_link">
                                <span class="callout--link_inactive">Coming soon</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- /grid-wrap-->
    </div>
    <!-- /wrapper-->
</div>



<section class="panel wrapper">
    <div class="box box--padded--med box--orange--separated-left solid border">
        <header class="actionable-header__title">
            <h2 class="actionable-header__title table-inline ">Looking for local statistics?</h2>
        </header>
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                <article class="box--padded--med">
                    <header class="box__header">
                        <h3>
                  <a href="#!/localstats">Local data explained </a>
                </h3>
                        <!-- /box__header -->
                    </header>

                    <div class="box__content">
                        <ul class="list--table">
                            <li class="">A handy guide to let you know where to find local statistics.</li>
                        </ul>
                        <!-- /box__content -->
                    </div>
                    <!-- /article box- -padded- -med" -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
            <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                <article class="box--padded--med">
                    <header class="box__header">
                        <h3>
                  <a href="https://www.nomisweb.co.uk/">Official Labour Market Statistics (nomis) </a>
                </h3>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <ul class="list--table">
                            <li>Access to the most detailed and up-to-date UK labour market statistics from official sources. </li>
                        </ul>
                        <!-- /box__content -->
                    </div>
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
            <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half tablet-grid-clear">
                <article class="box--padded--med">
                    <header class="box__header">
                        <h3>
                  <a href="http://www.neighbourhood.statistics.gov.uk/dissemination/">Neighbourhood Statistics (NeSS)</a>
                </h3>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <ul class="list--table">
                            <li>Datasets that describe the characteristics of a neighbourhood, with a particular focus on deprivation. </li>
                        </ul>
                        <!-- /box__content -->
                    </div>
                </article>
                <!-- /box -->
            </div>


            <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
                <article class="box--padded--med">
                    <header class="box__header">
                        <h3>
                  <a href=" http://www.ons.gov.uk/ons/data/area-first/">2011 Census Data Explorer (Beta)</a>
                </h3>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <ul class="list--table">
                            <li>Discover relevant census datasets for your needs and view or download them. </li>
                        </ul>
                        <!-- /box__content -->
                    </div>
                </article>
                <!-- /grid-col -->
            </div>
            <!-- /grid-wrap -->
        </div>
        <!-- /panel wrapper -->
</section>

<section class="panel wrapper box box--padded--med ">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Other official statistics</h2>
    </header>
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3 class="beta">
                <a href="https://www.gov.uk/government/statistics">GOV.UK</a>
              </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Official statistics produced by other government departments. </li>
                    </ul>
                </div>
            </article>
            <!-- /grid-col -->
        </div>

        <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3 class="beta">
                <a href="https://statswales.wales.gov.uk/Catalogue">StatsWales</a>
              </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">View, manipulate, create and download tables from Welsh data. </li>
                    </ul>
                </div>
            </article>
            <!-- /grid-col -->
        </div>


        <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3 class="beta">
                <a href="http://www.scotland.gov.uk/Topics/Statistics">ScotStat</a>
              </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Scottish Government Statistics provides an accurate and up-to-date picture of the economy and society in Scotland. </li>
                    </ul>
                </div>
            </article>
            <!-- /grid-col -->
        </div>


        <div class="grid-col desktop-grid-one-quarter tablet-grid-one-half">
            <article class="box--padded-vertical">
                <header class="box__header">
                    <h3 class="beta">
              <a href="http://www.nisra.gov.uk/">NISRA</a>
            </h3>
                    <!-- /box__header -->
                </header>

                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Principal source of official statistics and social research on Northern Ireland. </li>
                    </ul>
                </div>
            </article>
            <!-- /grid-col -->
        </div>

    </div>
    <!-- /grid-wrap -->
</section>
