<!-- Contact Details -->
<section class="panel wrapper flush--bottom">
    <div class="grid-wrap">
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-half tablet-grid-one-half">
            <article class="box border-vertical">
                <div class="box__inner box--padded">
                    <header class="box__header">
                        <h2 class="delta">
                            Methodology
                        </h2>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <ul class="list--neutral list--spaced flush--bottom">
                            <li>
                                <h3 class="flush body-type gamma">
                                    <a href="#!/methodology">Quality &amp; Methodology Information</a>
                                </h3>
                                <span class="description mini"></span>
                            </li>
                            <li>
                                <h3 class="flush body-type gamma">
                                    <a href="#!/methodology">Impact of Rebasing the Consumer Price</a>
                                </h3>
                                <span class="description mini"></span>
                            </li>
                            <li>
                                <h3 class="flush body-type gamma">
                                    <a href="#!/methodology">Consumer Price Index and Retail Price Index Methodology</a>
                                </h3>
                                <span class="description mini"></span>
                            </li>
                        </ul>
                        <!-- /list- -neutral -->
                    </div>
                    <!-- /box__content -->
                </div>
                <!-- box__inner -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-half tablet-grid-one-half">
            <article class="box border-vertical">
                <div class="box__inner box--padded">
                    <header class="box__header">
                        <h2 class="delta">
                            <!-- Contact details -->
                        </h2>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <div class="vcard">
                            <h3>Contact details</h3>
                            <div class="name">A.N. Other</div>
                            <div class="organisation">ONS</div>
                            <div class="email">
                                <a href="mailto:project-cwz4globzxvnj84jsovora@bugs.bugherd.com">leave@your.feedback</a>
                            </div>
                            <div class="tel"></div>
                        </div>
                    </div>
                    <!-- /box__content -->
                    <footer class="box__footer">
                        <h3>Feedback</h3>
                        <p><a href="#" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">Comments on structure, presentation or usability</a> of this prototype is greatly appreciated and will be used to inform future developments.</p>
                        <!-- <a class="link-complex mini" href="#">
                            <span class="link-complex__target box__action__text">View all contacts</span>
                            <span class="icon-book" role="presentational"></span>
                        </a> -->
                        <!--  <br>
                        <br>
                        <p class="caveat">Alpha feedback CTA to replace this pod*</p> -->
                    </footer>
                </div>
                <!-- box__inner -->
            </article>
            <!-- /box -->
        </div>
    </div>
    <!-- /grid-wrap -->
</section>
