<!DOCTYPE html>
<html ng-app="testModule">

<head>
    <link href="ui/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/ui/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="ui/js/lib/angular.js"></script>
    <script type="text/javascript" src="app/components/charts/highcharts-ng.js"></script>
    <script type="text/javascript" src="/ui/js/lib/highcharts.js"></script>
    <script type="text/javascript" src="app/components/accordion/accordion.js"></script>
    <script type="text/javascript" src="app/components/paginator/paginator.js"></script>
    <script type="text/javascript" src="app/components/navigation/navigation.js"></script>
    <script type="text/javascript" src="app/components/tabs/tabs.js"></script>
    <script type="text/javascript" src="app/components/toggler/toggler.js"></script>
    <script type="text/javascript" src="app/components/autocomplete/autocomplete.js"></script>
    <script type="text/javascript" src="app/components/sparkline/sparkline.js"></script>
    <script type="text/javascript" src="app/components/loading/loading.js"></script>

    <script type="text/javascript" src="app/helpers/util.js"></script>
</head>

<body id="ng-app" class="js" ng-controller="TestCtrl">
    <!-- Paginator -->
    <h1>Paginator</h1>
    <ons-paginator page-count=300></ons-paginator>
    <div class="push"></div>

    <div>
        <h1>Navigation</h1>
        <nav class="ons-nav" ons-nav nav-active-class="nav--primary__active" nav-widget-var="w_nav">
            <ul ons-nav-mobile nav-active-class="nav--primary__active" class="nav nav--controls">
                <li class="nav--controls__menu" ng-class="{'menu-is-expanded' : w_nav.showOnMobile}" ng-click="w_nav.toggleMobileMenu()">
                    <a href="" id="menu-toggle" aria-controls="nav-primary">
                        <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                        <span class="nav--controls__text">Menu</span>
                    </a>
                </li>
                <li class="nav--controls__search search-is-expanded">
                    <a href="" id="search-toggle" aria-controls="nav-search">
                        <span class="nav--controls__icon icon--inline icon--large icon-search-1" role="presentation"></span>
                        <span class="nav--controls__text">Search</span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav--multi nav--block nav--primary" id="nav-primary" aria-expanded="{{w_nav.showOnMobile}}" ng-class="w_nav.showOnMobile ? '' : 'nav-main--hidden'  ">
                <li class="nav--primary__hide-small-med">
                    <a href="#!">Home</a>
                </li>
                <li ons-nav-item="{{n.url}}" expandable="true" ons-nav-expand-class="js-expandable-active" ng-repeat="n in navigation" class="nav__expandable js-expandable">
                    <a ng-href="{{w_nav.mobile ? '' : ('#!' + n.url)}}">{{n.name}}</a>
                    <ul class="nav--primary__sub js-expandable__content" ons-nav-collapse-class="js-nav-hidden">
                        <li ons-nav-item ons-nav-mobile>
                            <a href="#!{{n.url}}">{{n.name}}</a>
                        </li>
                        <li ons-nav-item="{{c.url}}" ng-repeat="c in n.children">
                            <a href="#!{{c.url}}">{{c.name}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#!">
                        <span class="icon-comment icon--inline"></span>Taking part in a survey?</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#!">Release Calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#!">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#!">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="push"></div>

    <h1>Autocomplete</h1>
    <form ng-class="hideSearch ? 'nav-search--hidden' : '' " ng-submit="goToSearch(searchTerm)" class="nav-search ng-pristine ng-valid" id="searchBar" aria-expanded="false">
        <div class="nav-search__container">
            <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
            <input ons-autocomplete type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" name="q" ng-model="searchTerm" placeholder="Search for keyword or time series ID">
        </div>
        <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
            <span class="icon-search-1" role="presentational"></span>
            <span class="visuallyhidden">Search</span>
        </button>
    </form>

    <div class="push"></div>

    <!-- Tabs
        <h1>Tabs</h1>
        <a href="" ng-click="printTab()">Print Tab</a>
        <!-- TODO: Figure out how to pass aria-controls -->
    <div ons-tabs key-var="selected" class="tab-pane tab-pane--dual lifted">
        <ul role="tablist" class="nav tab-pane__tabs-container">
            <li ons-tab-control="firsttab" role="presentation" class="tab-pane__tab-container">
                <a href="" ng-class="{'tab-pane__tab--selected':  selected === 'firsttab' }" class="tab-pane__tab" role="tab" aria-selected="{{selected === 'firsttab' ? true : false}}">
                    <br class="tab-pane__tab__break">Tab 1</a>
            </li>
            <li ons-tab-control="secondtab" role="presentation" class="tab-pane__tab-container">
                <a href="" ng-class="{'tab-pane__tab--selected': selected === 'secondtab'}" class="tab-pane__tab" role="tab" aria-selected="{{selected === 'secondtab' ? true : false}}">
                    <br class="tab-pane__tab__break">Tab 2</a>
            </li>
        </ul>
        <h3 ons-tab="firsttab">THE FIRST</h3>
        <h3 ons-tab="secondtab">The SECOND</h3>
    </div>

    <div class="push"></div>

    <!-- Accordion -->
    <h1>Accordion</h1>
    <ons-accordion multiple="true">
        <article class="box border-horizontal-single">
            <ons-accordion-item header="Background notes and Methodology">
                <div class="box__content">
                    <ul class="list--neutral">
                        <li><a href="#"> Quality and Methodology Information (QMI)</a> (PDF 95.6 kb)</li>
                        <li><a href="#">Impact of Rebasing the Consumer Price Index to 2010=100</a>
                        </li>
                        <li><a href="#">Consumer Price Index and Retail Price Index Methodology</a>
                        </li>
                    </ul>
                </div>
            </ons-accordion-item>
        </article>
        <article class="box border-horizontal-single">
            <ons-accordion-item header="References">
                <div class="box__content">
                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                    </p>
                </div>
            </ons-accordion-item>
        </article>
        <article class="box border-horizontal-single">
            <ons-accordion-item header="Footnotes">
                <div class="box__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                    </p>
                </div>
            </ons-accordion-item>
        </article>
    </ons-accordion>
    <div class="push"></div>

    <h1>Toggle</h1>
    <a href="" toggler-widget-var="w_toggler" toggler="theToggle">{{w_toggler.isVisible() ? 'Hide' : 'Show'}} </a>
    <div toggleable="theToggle">
        Hey
    </div>
    <div class="push"></div>
 
    <h1>Loading </h1>
    <ons-loading></ons-loading>
    <div class="push"></div>
    
    <h1>Spark Line</h1>
    <ons-sparkline chart-data="timeseries.years"></ons-sparkline>
    <div class="push"></div>
    

</body>
<script type="text/javascript">
angular.module('testModule', ['onsPaginator',
        'onsTabs',
        'onsAccordion',
        'onsNavigation',
        'onsUtils',
        'onsToggler',
        'onsAutocomplete',
        'onsLoading',
        'onsSparkline'
    ])
    .controller('TestCtrl', ['$scope', '$http', function($scope, $http) {
        $http.get("/navigation").success(function(data) {
            $scope.navigation = data
        })
        $http.get("/data/economy/inflationandpriceindices").success(function(data) {
            $scope.ipi = data
        })
        $http.get("/data/economy/inflationandpriceindices/timeseries/d7g7").success(function(data) {
            $scope.timeseries = data
        })
        $scope.printTab = function() {
            console.log("Tab Contoller? :")
            console.log($scope)
        }
    }])
    .config(['$locationProvider',
        function($locationProvider) {
            $locationProvider.html5Mode(false).hashPrefix('!');
        }
    ])
</script>

</html>
