<style type="text/css">


/*------------------------------------*\
 Angular Accordion
\*------------------------------------*/

.accordion__container {
    background: #fff;
    padding: 0;
    border-top: 2px solid #dedfdc;

}
.accordion__tab {
    background: #fff;
    padding: 5px;
    color: #000;
    border-bottom: 2px solid #dedfdc;
}
.accordion__tab-title {
    background: #fff;
    padding: 10px;
    cursor: pointer;
    /*border-top: 2px solid #dedfdc;*/
    /*border-bottom: 2px solid #dedfdc;*/

}
.accordion__tab-content {
    background: #fff;
    padding: 10px;
    /*border-bottom: 2px solid #dedfdc;*/
}


</style>

<div class="grid-wrap">
    <div class="accordion__container grid-col {{sidebar ? 'desktop-grid-two-thirds tablet-grid-two-thirds' : ''}}" ng-controller="AccordionCtrl">
        <div class="accordion__tab">
        <span class="accordion_chevron icon icon-down-open-big" ng-hide="isOpenTab('tab one')"></span>
            <h2 class="accordion__tab-title " ng-click="openTab('tab one')">Background Notes and Methodology</h2>
            <div class="accordion__tab-content" ng-show="isOpenTab('tab one')">
                <p>Quality and Methodology Information (QMI) (PDF 95.6 kb)</p>
                <p>Impact of Rebasing the Consumer Price Index to 2010=100</p>
                <p>Consumer Price Index and Retail Price Index Methodology</p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="accordion__tab">
        <span class="accordion_chevron icon icon-down-open-big" ng-hide="isOpenTab('tab two')"></span>
            <h2 class="accordion__tab-title" ng-click="openTab('tab two')">References</h2>
            <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">
                <p><p>BRITISH STANDARDS INSTITUTE. (1990). BS5605:1990. Recommendations for citing and referencing published material. Milton Keynes: BSI. </p>
                <p>NEVILLE, C. (2010). The Complete Guide to Referencing and Avoiding Plagiarism.2ND edition. Open UP Study Skills. Maidenhead: Open University Press. </p>
                <p>PEARS, R & SHIELDS, G. (2006) Cite Them Right: The Essential Guide to Referencing and Plagiarism. Newcastle-upon-Tyne: Northumbria University Press. </p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="accordion__tab">
        <span class="accordion_chevron icon icon-down-open-big" ng-hide="isOpenTab('tab three')"></span>
            <h2 class="accordion__tab-title" ng-click="openTab('tab three')">Footnotes</h2>
            <div class="accordion__tab-content" ng-show="isOpenTab('tab three')">
                <p>1 Joseph P. Swain, The Broadway Musical: A Critical and Musical Survey (New York: Oxford University Press, 1990), 136. </p>
                <p>2 Gillian G. Gaar, She's a Rebel: The History of Women in Rock & Roll (Seattle: Seal Press, 1992), 101-2. </p>
                <p>3 Swain, Broadway Musical, 153.</p>
            </div>
        </div>
        <!-- .accordion__tab -->
    </div>
</div>

<script>

function AccordionCtrl($scope) {
    //initiate an array to hold all active tabs
    $scope.activeTabs = [];

    // check if the tab is active
    $scope.isOpenTab = function (tab) {
        //check if this tab is already in the activeTabs array
        if ($scope.activeTabs.indexOf(tab) > -1) {
            //if so, return true
            return true;
        } else {
            //if not, return false
            return false;
        }
    };

    //function to 'open' a tab
    $scope.openTab = function (tab) {
        //check if tab is already open
        if ($scope.isOpenTab(tab)) {
            //if it is, remove it from the activeTabs array
            $scope.activeTabs.splice($scope.activeTabs.indexOf(tab), 1);
        } else {
            //if it's not, add it!
            $scope.activeTabs.push(tab);
        }
    };
}

</script>
