<ons-header></ons-header>
<div ng-controller="ReleaseCtrl" class="wrapper panel--bottom-mar">
	<div class="page-header">
	 <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
		<div class="wrapper">
			<h2 class="page-header__title flush--half--bottom">{{releaseData.h2}}</h2>
			<div class="content-reveal lede">
				<p>T{{releaseData.lede}}</p>
			</div>
			<div class="page-header__icons">
				<!--<a href="#" class="link-complex">
              <span class="icon icon-twitter icon-grey">
                <span class="visuallyhidden">Share on Twitter</span>
              </span>
            </a>!-->
				<a href="#" class="link-complex"> <span
					class="icon icon-twitter icon--grey"> <span
						class="visuallyhidden">Share on Twitter</span>
				</span>
				</a> <a href="#" class="link-complex"> <span
					class="icon icon-facebook icon--grey"> <span
						class="visuallyhidden">Share on Facebook</span>
				</span>
				</a>
			</div>
		</div>
		<!-- /wrapper -->
	</div>

	<section class="panel--bottom-mar wrapper">
		<ol class="list--table list--table--complex">

			<!--  /list-table__head -->

			<!--  /list-table__body -->
			<li class="list--table release_margin">
				<div
					class="list--table__item__body list--table__item__body--caption no_align">
					<h3>
						<p>Release Date:
						<p>
					</h3>
				</div>
				<div
					class="list--table__item__body list--table__item__body--stat no_align">
					<div class="">
						<div class="release_dates">
							<p id="releaseDate">{{releaseData.releaseDate}}</p>
						</div>
					</div>
				</div>
			</li>
			<!--  /list-table__body -->
			<li class="list--table release_margin">
				<div
					class="list--table__item__body list--table__item__body--caption no_align">
					<h3>
						<p>Next Release:
						<p>
					</h3>
				</div>
				<div
					class="list--table__item__body list--table__item__body--stat no_align">
					<div class="">
						<div class="release_dates">
							<p id="nextReleaseDate">{{releaseData.nextReleaseDate}}</p>

						</div>

					</div>
				</div>


			</li>
			<!--  /list-table__body -->
			<li class="list--table release_margin">
				<div
					class="list--table__item__body list--table__item__body--caption  release_contact_header">
					<h3 class="align-top">Contact:</h3>
				</div>
				<div
					class="list--table__item__body list--table__item__body--stat no_align">
					<div class="">
						<div class="box__content">
							<div class="vcard">
								<div id="contactName" class="name">{{releaseData.contact.name}}</div>
								<div id="contactOrganisation" class="organisation">{{releaseData.contact.organisation}}</div>
								<div id="contactEmail" class="email">
									<a href="mailto:{{releaseData.contact.email}}">{{releaseData.contact.email}}</a>
								</div>
								<div id="contactTelephone" class="tel">{{releaseData.contact.telephone}}</div>
							</div>
						</div>

					</div>
				</div>


			</li>
			<!--  /list-table__item -->
		</ol>
		<!--  /list-table -->
	</section>

	<section class="panel--pad panel--bottom-mar">
		<div class="wrapper">
			<div class="grid-wrap">
				<div class="grid-col desktop-grid-one-third tablet-grid-full">
					<article class="box">
						<h2 class="beta">Statistical Bulletins and Articles</h2>
					</article>
				</div>
				<!-- /box -->
				<div ng-repeat="bulletinOrArticle in releaseData.bulletinsAndArticles track by $index">
					<div ng-if="$index < 2" ng-class="'grid-col desktop-grid-one-third tablet-grid-one-half'">
						<article class="box">
							<header class="box__header">
								<h3 class="gamma flush">
									<a href={{bulletinOrArticle.url}}>{{bulletinOrArticle.title}}</a>
								</h3>
							</header>
							<!-- /box__header -->
							<div class="box__content">
								<p>{{bulletinOrArticle.summary}}</p>
								<p class="description mini"></p>
								<p>
									<span class="lozenge">{{bulletinOrArticle.type}}</span>
								</p>
							</div>
							<!-- /box__content -->
						</article>
						<!-- /box -->
					</div>
					<div ng-if="$index >= 2" ng-class="'grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half'">
						<article class="box">
							<header class="box__header">
								<h3 class="gamma flush">
									<a href={{bulletinOrArticle.url}}>{{bulletinOrArticle.title}}</a>
								</h3>
							</header>
							<!-- /box__header -->
							<div class="box__content">
								<p>{{bulletinOrArticle.summary}}</p>
								<p class="description mini"></p>
								<p>
									<span class="lozenge">{{bulletinOrArticle.type}}</span>
								</p>
							</div>
							<!-- /box__content -->
						</article>
						<!-- /box -->
					</div>					
				</div>
				<!-- /grid-col -->
				<div class="grid-col hide-large">
					<p class="box box--padded-top">
						<a href="#" class="action-link hide-large">View all statistical bulletins</a>
					</p>
				</div>
			</div>
			<!-- /grid-wrap -->
		</div>
		<!-- /wrapper -->
	</section>

	<section id="datasets" class="panel--pad panel--bottom-mar">
		<div class="wrapper">
			<div class="grid-wrap">
				<div class="grid-col desktop-grid-one-third tablet-grid-full">
					<article class="box">
						<h2 class="beta">Datasets</h2>
						<a href="#" class="action-link hide-med-down">See all datasets in this release &gt;</a>
					</article>
				</div>
				<div ng-repeat="dataset in releaseData.datasets track by $index">
				<!-- /box -->
					<div ng-if="$index < 2" ng-class="'grid-col desktop-grid-one-third tablet-grid-one-half'">
						<article class="box">
							<header class="box__header">
								<h3 class="gamma flush">
									<a href={{dataset.url}}>{{dataset.title}}</a>
								</h3>
							</header>
							<!-- /box__header -->
							<div class="box__content">
								<p>{{dataset.summary}}</p>
								<p>
									<span class="lozenge">Dataset</span>
								</p>
							</div>
							<!-- /box__content -->
						</article>
						<!-- /box -->
					</div>
					<div ng-if="$index >= 2" ng-class="'grid-col desktop-grid-one-third desktop-grid-push-one-third tablet-grid-one-half'">
						<article class="box">
							<header class="box__header">
								<h3 class="gamma flush">
									<a href={{dataset.url}}>{{dataset.title}}</a>
								</h3>
							</header>
							<!-- /box__header -->
							<div class="box__content">
								<p>{{dataset.summary}}</p>
								<p>
									<span class="lozenge">Dataset</span>
								</p>
							</div>
							<!-- /box__content -->
						</article>
						<!-- /box -->
					</div>					
				</div>
	 		</div>
	 	</div>
		<!-- /grid-wrap -->
		<div class="box box--padded-top hide-large">
			<p>
				<a href="#" class="action-link">View more statistical bulletins
					and articles</a>
			</p>
		</div>
	</section>

	<div class="wrapper panel--bottom-mar">
		<h3>Important Release Information</h3>
		<br> <br>

		<p>The United Kingdom Statistics Authority has designated these
			statistics as National Statistics, in accordance with the Statistics
			and Registration Service Act 2007 and signifying compliance with the
			Code of Practice for Official Statistics.</p>

		<p>Designation can be broadly interpreted to mean that the
			statistics:
		<ul>
			<li>meet identified user needs;</li>
			<li>are well explained and readily accessible;
			<li>are produced according to sound methods; and
			<li>are managed impartially and objectively in the public
				interest.</li>
		</ul>

		<p>Once statistics have been designated as National Statistics it
			is a statutory requirement that the Code of Practice shall continue
			to be observed.</p>

		<p>
			<a href="about:blank">Pre-release access list for this release</a>
	</div>

</div>
<ons-footer></ons-footer>
