<div class="page-header flush--half--bottom  page-header--article page-header--calendar slate--dark-green">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--calendar-desc">
            <strong>Release</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">{{releaseData.name}}</h1>
        <div class="page-header--article__body">
            <div class="page-header--article__split">
                <dl class="split--fixed page-header--article__split__meta">
                    <dt class="split--fixed__title definition-emphasis"><strong>Release date:</dt>
                  <dd>
                    <span class="definition-emphasis">{{releaseData.releaseDate || '1 Jan 3000'}}</strong>
                        </span>
                        </dd>
                        <dt class="split--fixed__title">Next release:</dt>
                        <dd>{{releaseData.nextReleaseDate || '1 Feb 3000'}}</dd>
                        <dt class="split--fixed__title">Contact:</dt>
                        <dd>In the future this will display the statistical contact
                        </dd>
                </dl>
            </div>
        </div>
        <social-links></social-links>
    </div>
    <!-- /nav-panel -->
</div>
<div class="wrapper">
    <div class="panel">
        <div class="content-reveal lede">
            <p>{{releaseData.lede}}</p>
        </div>
    </div>
</div>

<section class="panel wrapper box box--padded--med panel--bottom-mar box--green--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Datasets</h2>
    </header>
    <div ng-if="(releaseData.datasets).length > 0" class="grid-wrap">
        <div ng-repeat="dataset in releaseData.datasets" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#!{{dataset.uri}}">{{dataset.name}}</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">{{dataset.summary}}</li>
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
    </div>
</section>
<section class="panel wrapper box box--padded--med panel--bottom-mar box--teal--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Statistical bulletins</h2>
    </header>
    <div ng-if="(releaseData.bulletins).length > 0" class="grid-wrap">
        <div ng-repeat="bulletin in releaseData.bulletins" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#!{{bulletin.uri}}">{{bulletin.name}}</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">{{bulletin.summary}}</li>
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
    </div>
</section>
<section class="panel wrapper box box--padded--med panel--bottom-mar box--grey--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Articles</h2>
    </header>
    <div ng-if="(releaseData.articles).length > 0" class="grid-wrap">
        <div ng-repeat="article in releaseData.articles" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#!{{article.uri}}">{{article.name}}</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">{{article.summary}}</li>
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
    </div>
</section>

<div class="wrapper panel--bottom-mar">
    <h3>Important release information</h3>
    <br/>

    <p>The United Kingdom Statistics Authority has designated these statistics as National Statistics, in accordance with the Statistics and Registration Service Act 2007 and signifying compliance with the Code of Practice for Official Statistics.</p>

    <p>Designation can be broadly interpreted to mean that the statistics:
        <ul>
            <li>meet identified user needs</li>
            <li>are well explained and readily accessible
                <li>are produced according to sound methods
                    <li>are managed impartially and objectively in the public interest
                    </li>
        </ul>

        <p>Once statistics have been designated as National Statistics it is a statutory requirement that the Code of Practice shall continue to be observed.</p>

        <p>
            <!-- <a href="">Pre-release access list for this release</a> -->
</div>

</div>
