<ons-header></ons-header>
<div class="page-header slate">
 <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
  <div class="wrapper">
    <p><strong>About ONS</strong></p>
    <h1 class="page-header__title flush--half--bottom">Contact Us</h1>

    <div class="page-header__icons"><a href="#" class="link-complex"><span class="icon icon-twitter icon--grey"><span class="visuallyhidden">Share on Twitter</span></span></a><a href="#" class="link-complex"><span class="icon icon-facebook icon--grey"><span class="visuallyhidden">Share on Facebook</span></span></a></div>
  </div>
<!-- /nav-panel -->
</div>

<div class="wrapper">
  <div class="panel">
  </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
      <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
        <article class="box box--green--separated-left box--padded sectioned color-ons-green--light">
          <header class="box__header">
            <h3>This is ONS Alpha website build.</h3>
        </header>

        <!-- /box__header -->
        <p>We have done this to demonstrate what the ONS website could look like in the future. Throughout the process we have, and will continue to, test with real users of the website. This website will close on the 31 December 2014.</p>

        <p>Content on this website is not conclusive and may not be up-to-date or correct. Please refer to the current ONS website for the most recent statistics.</p>

        <h3>Feedback</h3>

        <p>Comments on structure, presentation or usability of this prototype is greatly appreciated and will be used to inform future developments.</p>

        <p>You can provide feedback by:</p>
        <ul>
            <li>Sending an Email to <a href="#">xxxxxxxxxxx@ons.gsi.gov.uk</a></li>
            <li>Or <a href="#">completing our survey</a> </li>
        </ul>

    </article>
    <!-- /article__content -->


    <div class="panel--bottom-mar">
      <h3>Queries not related to this prototype</h3>


      <p>Any enquiries not related to this prototype should be directed towards our Customer Contact Centre. Main methods for doing this are provided below but the complete list of options can be found on the curent website contact page.</p>

      <h3>Email us</h3>

      <p>If your enquiry is about ONS statistics, please email <a href="#">info@ons.gsi.gov.uk</a></p>

      <h3>Call us</h3>

      <p>0845 601 3034 / 0203 684 5069<br/>
       Calling from Overseas: +44 (0) 1633 817521<br/>
       Minicom (for the deaf or hearing impaired): +44 (0) 1638 815044<br/>
       Fax: +44 (0) 1633652747<br/><br/>
       <em>Please note - Calls may be monitored for training purposes.</em>
   </p>

</div>
</div>

<div class="grid-col desktop-grid-one-third tablet-grid-one-third">
    <!-- article__content -->
    <article class="box box--orange--separated-left box--padded sectioned">
      <header class="box__header">
        <h3 class="headline"> Opening Hours</h3>
    </header>
    <!-- /box__header -->
    <div class="box__content">
        <p>Our standard opening times are 9am to 5pm, monday to Friday (excluding UK Public and Bank Holidays).</p>

    </div>
    <!-- /box__content -->

</article>
<!-- /article__content -->
<!-- article__content -->
<article class="box box--orange--separated-left box--padded sectioned">
  <header class="box__header">
    <h3 class="headline">Our Office Locations</h3>

</header>
<!-- /box__header -->
<div class="box__content">

    <p><strong>Newport</strong><br/>
      Government Buildings<br/>
      Cardiff Road<br/>
      Newport<br/>
      South Wales<br/>
      NP10 8XG<br/>
      <span class="icon icon-download icon--blue"> </span>
      <a href="#"> Download map and directions</a> (95.6kb)<br/>
  </p>

  <p><strong>Titchfield</strong><br/>
      Segensworth Road<br/>
      Titchfield<br/>
      Fareham<br/>
      Hampshire<br/>
      PO15 5RR<br/>
      <span class="icon icon-download icon--blue"> </span>
      <a href="#"> Download map and directions</a> (95.6kb)<br/>
  </p>

  <p><strong>London</strong><br/>
      1 Drummond Gate<br/>
      Pimlico<br/>
      London<br/>
      SW1V 2QQ<br/>
      <span class="icon icon-download icon--blue"> </span>
      <a href="#"> Download map and directions</a> (95.6kb)<br/>
  </p>

  <!-- /list- -bullet -->
</div>

<!-- /box__content -->

</article>
<!-- /article__content -->
<!-- article__content -->

</div>
<!-- /grid-col -->
</div>
</div>
<ons-footer></ons-footer>
