<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc">
            <strong>About ONS</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Who we are</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>

<div class="wrapper">
    <div class="panel">
    </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col">
            <div class="panel--bottom-mar">
                <p>The Office for National Statistics (ONS) is the UK’s largest independent producer of official statistics and is the recognised national statistical institute for the UK. It is responsible for collecting and publishing statistics related to the economy, population and society at national, regional and local levels. It also conducts the census in England and Wales every ten years. ONS plays a leading role in national and international good practice in the production of official statistics.</p>
            </div>

            <article class="box box--red-dark--separated-left box--padded sectioned color-red-dark--light">
                <header class="box__header">
                    <h3>This is ONS prototype website build</h3>
                </header>

                <!-- /box__header -->
                <p>We have done this to demonstrate what the ONS website could look like in the future. Throughout the process we have, and will continue to, test with real users of the website. This website will close on the 5 January 2015.</p>
                <p>
                    Content on this website is not conclusive and may not be up-to-date or correct. Please refer to the current <a href="http://www.ons.gov.uk/ons/index.html">ONS website</a> for the most recent statistics.
                </p>

            </article>
            <!-- /article__content -->

            <div class="panel--bottom-mar">
                <h3>Feedback</h3>
                <p>Please <a href="" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">provide as much feedback</a> about this prototype website as you possibly can - good or bad we want it all.</p>
                <!-- <p>You can <a href="mailto:project-cwz4globzxvnj84jsovora@bugs.bugherd.com">send us an email</a> or <a href="" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">leave feedback here</a>.</p> -->
            </div>
        </div>
    </div>
</div>
