<!-- Lateral nav bar -->
<div class="grid-col desktop-grid-one-third tablet-grid-full-width">
    <!-- article__content -->
    <div class="grid-col tablet-grid-one-half ">
    <article class="box box--green box--green--separated-left">
        <div class="box__inner border box--padded">
            <header class="box__header">
                <h3 class="headline">Data in this bulletin</h3>
            </header>
            <!-- /box__header -->
            <div class="box__content">
                <div class="grid-wrap">
                    <!-- <div class="grid-col grid-one-sixth">
                        <span class="icon icon-download icon--blue-alt"></span>
                    </div> -->
                    <div class="grid-col grid-five-sixths">
                        <a href="#">Producer Price Index dataset</a>
                    </div>
                </div>
                <div class="grid-wrap">
                    <!-- <div class="grid-col grid-one-sixth">
                        <span class="icon icon-download icon--blue-alt"></span>
                    </div> -->
                    <div class="grid-col grid-five-sixths">
                        <a href="#">Producer Price Index Revision Triangle</a>
                    </div>
                </div>
            </div>
            <!-- /box__content -->
            <footer class="box__footer box__actions">
                <!-- <a href="#" class="btn btn--primary btn--small">Download all data
                        <span class="icon-download icon--button-inline"></span>
                    </a> -->
            </footer>
        </div>
        <!-- /box__actions -->
    </article>
    <!-- /article__content -->
    </div>
    <!-- /grid-col -->




    <!-- article__content -->
    <div class="grid-col tablet-grid-one-half">
    <article class="box box--padded sectioned">
        <header class="box__header">
            <div class="grid-wrap ">
                <div class="grid-col desktop-grid-one-sixth">
                    <!-- <h2>
                        <span class="icon icon-info-circled icon--grey"></span>
                    </h2> -->
                </div>
                <div class="grid-col desktop-grid-five-sixths">
                    <h3>Contact details for this {{contentType}}
                    </h3>
                </div>
            </div>
            <div class="padded"></div>
        </header>
        <!-- /box__header -->
        <div class="box__content">
            <p>In the future this will display the primary statistical contact
                <br/>
                <br/>
                <a href=""></a>
                <br/></p>
            <!-- /list--bullet -->
        </div>
        <!-- /box__content -->
    </article>
    <!-- /article__content -->
    </div>
    <!-- /grid-col -->
</div>
