<div ng-controller="ContentCtrl">

    <!-- title and social icons -->
    <div class="page-header flush--half--bottom  page-header--article page-header--stat-bulletin slate--blue">
        <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
        <div class="wrapper">
            <p class="page-header__title page-header--stat-bulletin-desc">
                <strong>{{header}}</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">{{content.title}}</h1>
            <a href="#!/nationalstats"><img class="page-header--article__img" src="../ui/img/national-statistics.png" alt="The official National Statistics badge"></a>

            <div class="page-header--article__body">
              <div class="page-header--article__split">
                <dl class="split--fixed page-header--article__split__meta">
                  <dt class="split--fixed__title definition-emphasis"><strong>Release date:</dt>
                  <dd>
                    <span class="definition-emphasis">{{content.releaseDate}}</strong></span> <a href="#!/previous" class="split__multiline-break">View previous releases</a>
                  </dd>
                  <dt class="split--fixed__title">Next release:</dt>
                  <dd>{{content.nextRelease}}</dd>
                  <dt class="split--fixed__title">Contact:</dt>
                  <dd>In the future this will display the statistical contact
                  </dd>
                </dl>
                <ul class="list--neutral page-header--article__split__actions">
                  <li>
                    <span class="icon icon-print icon--blue-alt">
                            <span class="visuallyhidden">Print</span>&nbsp;Print summary
                        <ons-help-tooltip tip="This link will not be available on the prototype, however in the future you will be able to print the summary section of the statistical bulletin"></ons-help-tooltip>
                        </span>
                  </li>
                  <li>
                    <span class="icon icon-print icon--blue-alt">
                            <span class="visuallyhidden">Print full report</span>&nbsp;Print full report
                        <ons-help-tooltip tip="This link will not be available on the prototype, however in the future you will be able to print the full report"></ons-help-tooltip>
                        </span>
                  </li>
                  <li>
                    <span class="icon icon-download icon--blue-alt">
                            <span class="visuallyhidden">Download PDF</span>&nbsp;Download PDF
                        <ons-help-tooltip tip="This link will not be available on the prototype, however in the future you will be able to download the statistical bulletin as PDF"></ons-help-tooltip>
                        </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <social-links></social-links>
        </div>
    </div>

    <!-- Content-reveal section -->
    <div class="wrapper">
        <div class="panel">
            <div class="content-reveal lede">
                <p>{{content.summary}}</p>
                    <!-- <a href="" toggler="more" toggler-widget-var="w_toggler" class="content-reveal__action">{{w_toggler.isVisible() ? 'Show less' : 'Show more'}}</a>
                </p>
                <div toggleable="more" class="content-reveal__hidden">
                    <p>
                        {{content.more}}
                    </p>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Table of contents -->
    <div class="wrapper">
        <article class="box border-horizontal-single">
            <h3 id="top">Table of contents</h3>
            <div id="toc-content">
                <ol class="toc-columns">
                    <li ng-repeat="section in content.sections track by $index"><a ng-click="scrollTo('section' + ($index + 1))">{{section.title}}</a>
                    </li>
                </ol>
            </div>
        </article>
    </div>

    <!-- Body Sections -->
    <div class="wrapper panel--bottom-mar">
        <div class="grid-wrap">
            <div class="grid-col {{sidebar ? 'desktop-grid-two-thirds tablet-grid-full-width' : ''}}">
                <article class="box border-horizontal-single content-section" ng-repeat="section in content.sections">
                    <header class="box__header">
                        <h2 id="section{{$index + 1}}">{{$index + 1}}. {{section.title}}</h2>
                    <!-- Check this in the static version -->
                        <!-- <h2>
                        <a id="Summary"></a>1. Summary</h2> -->
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <div markdown link="{{section.markdown}}"></div>
                    </div>
                    <!-- <br></br> -->
                    <a class="content-section--bottom" ng-click="scrollTo('top')">Back to table of contents</a>
                    <!-- /box__content -->
                <!-- Not used in static version -->
                    <!-- <footer class="box__footer"></footer> -->
                    <!-- /box__actions -->
                </article>

                <!-- Accordion -->
<!--                 <article class="box border-horizontal-single"></article>
 -->
                <ons-accordion multiple="true">
                    <article class="box border-horizontal-single" ng-repeat="tab in content.accordion">
                        <ons-accordion-item header="{{tab.title}}">
                            <!-- /box__header -->
                            <div class="box__content">
                                <div markdown link="{{tab.markdown}}"></div>
                            </div>
                        </ons-accordion-item>
                        <!-- /box__content -->
                        <footer class="box__footer"></footer>
                        <!-- /box__actions -->
                    </article>
                    <!-- /article__content -->
                </ons-accordion>
            </div>
            <div ng-if="sidebar">
                <div ng-include="sidebarUrl"></div>
            </div>
        </div>
    </div>

    <!-- Related Bulletins Section -->

    <div class="page-header slate--light" ng-show="{{contentType != 'methodology'}}">
        <div class="wrapper">
            <div class="grid-wrap">
                <div class="grid-col desktop-grid-two-thirds">
                    <article class="box box--blue box--blue--separated-left">
                        <div class="box__inner border box--padded">
                            <div class="box__section">
                                <header class="box__header">
                                    <h2>Related bulletins</h2>
                                </header>

                                <!-- Dynamic: -->
							    <div class="grid-wrap" ng-show="{{content.hasRelatedBulletins}}">
						            <article class="box--padded" ng-repeat="relatedBulletin in content.relatedBulletinData" class="grid-col desktop-grid-one-third tablet-grid-one-half">
						                <header class="box__header">
						                    <h3>
						                        <a href="#!{{relatedBulletin.uri}}">{{relatedBulletin.name}}</a>
						                    </h3>
						                </header>
						                <div class="box__content">
						                    <ul class="list--table">
						                    	<!-- TODO: load bulletin data so we can populate this: -->
						                        <li class="">{{relatedBulletin.summary}}</li>
						                    </ul>
						                </div>
						            </article>
							    </div>

                                <!-- or placeholder: -->
							    <div class="grid-wrap" ng-show="{{!content.hasRelatedBulletins}}">
						            <article class="box--padded">
						                <header class="box__header">
						                    <h3>
						                        <a href="#!/alpha">Prototype version</a>
						                    </h3>
						                </header>
						                <div class="box__content">
						                    <ul class="list--table">
						                        <li class="">In the future this box will display links to other statistical bulletins that are relevant to this bulletin.</li>
						                    </ul>
						                </div>
						            </article>
							    </div>

                            </div>
                            <!-- /box__content -->
                            <footer class="box__footer"></footer>
                        </div>
                        <!-- /box__actions -->
                    </article>
                </div>
                <div class="grid-col desktop-grid-one-third">
                    <article class="box box--orange box--orange--separated-left">
                        <div class="box__inner border box--padded">
                            <div class="box__section">
                                <h3 class="box__section__header"><a href="#!/localstats"><h3>Looking for local statistics?</h3></a>
                                </h3>
                            </div>
                            <div class="box__section">
                                <!-- <h3 class="box__section__header">More on <a href="#">Basket of Goods</a>
                                </h3> -->
                                <p>A handy guide to let you know where to find local statistics.</p>
                            </div>
                        </div>
                        <!-- /box__inner -->
                    </article>
                </div>
            </div>
        </div>
        <!-- /bottom-panel -->
    </div>
</div>
<!-- /ng-controller -->
