<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc">
            <strong>Previous versions/releases</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Previous version page</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>

<div class="wrapper">
    <div class="panel">
    </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <article class="box box--red-dark--separated-left box--padded sectioned color-red-dark--light">
            <header class="box__header">
                <h3>This is ONS prototype website build</h3>
            </header>
            <!-- /box__header -->
            <p>This link would provide access to previous versions of data or bulletins published by ONS on an earlier date. This page will work slightly differently dependent on if you have come from a data page (a time series or dataset) or a statistical bulletin.</p>
        </article>
        <div class="grid-col desktop-one-half tablet-grid-one-half">
            <h3>Time series and datasets</h3>
            <p>Part of the statistical process can be to revise data as new information becomes available and these pages are designed to provide access to the data that was previously published. This allows the latest figures to maintain a static URL and give consistent access to the latest estimates from the same place. The following screenshot shows how the page will be displayed.</p>
            <img src="/ui/img/datasetversionsscreencap.png" alt="">
            <p>This page will keep a record of all updates to the data and allow users to download one or all of these for comparison. Where available and relevant we will also look to publish reasons for the change in the data.</p>
        </div>
        <div class="grid-col desktop-one-half tablet-grid-one-half">
            <h3>Statistical bulletins</h3>
            <p>For statistical bulletins this page will provide links to all previously published versions of the bulletin you are looking at. When you are on a previous bulletin the link will be replaced with a ‘Latest version’ link taking you to the most recent bulletin.</p>

            <p>This is a mockup of how the page could look:</p>
            <img src="/ui/img/collection-page.png" alt="">
            <!-- /article__content -->
        </div>
    </div>
</div>
