<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc">
            <strong>Previous versions/releases</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Previous version page</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>

<div class="wrapper">
    <div class="panel">
    </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
            <article class="box box--red-dark--separated-left box--padded sectioned color-red-dark--light">
                <header class="box__header">
                    <h3>This is ONS prototype website build</h3>
                </header>

                <!-- /box__header -->
                <p>This link will not be available on the prototype, however in the future it will give you access to all previous updates and revisions for this series.</p>

            </article>
            <p>This is a mockup of how the page could look:</p>
            <img src="../ui/img/collection-page.png" alt="">
            <!-- /article__content -->
        </div>
    </div>
</div>