<ons-header></ons-header>
<div class="page-header page-header--article page-header--article slate--mid-grey">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--expert-analysis-desc">
            <strong>National Statistics</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">What is a National Statistic?</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>
<div class="panel">
    <section class="panel--large wrapper flush--top">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-sixth tablet-grid-one-quarter">
                <article class="box">
                    <h2 class="beta">
                        <img src="/ui/img/nslogo.png" class="page-header-image" alt="ONS logo">
                    </h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-five-sixths tablet-grid-three-quarters">
                <article class="box">
                    <header class="box__header">
                        <p>
                            The term 'National Statistics' is an accreditation quality mark which stands for a range of qualities such as relevance, integrity, quality, accessibility, value for money and freedom from political influence.

Data deemed to be National Statistics provide an up-to-date, comprehensive and meaningful description of the UK's economy and society.

They comply with the professional principles and standards set out in a statistical code of practice - the UK Statistics Authority's Code of Practice.

Quality is central to National Statistics. The quality of our principal statistical outputs, and the methods used to compile them, are reviewed on a regular basis.

Where this logo is not present, these statistics are classed as Official statistics.
                        </p>
                    </header>
                    <!-- /box__header -->
<!--                     <div class="box__content">
                        <p>
                            nomis allows you to:
                        </p>
                        <ul>
                            <li>design and define your own analysis for a wide range of statistical geographies</li>
                            <li>build your own geographic areas and compare with others areas</li>
                            <li>produce summary reports for individual areas</li>
                            <li>produce detailed analysis for multiple geographic areas</li>
                        </ul>
                    </div> -->
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
</div>

<ons-footer></ons-footer>
