<ons-header></ons-header>
  <section class="panel--large wrapper flush--top flush--bottom rem_padding_bottom">
   <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    

    <!--Search filters, sorting and results description, grid col two thirds, left class removes padding and crates space within the div-->
    <div >
      <div class="grid-wrap">
        <div class="grid-col tablet-wide-grid-two-thirds">
           <div class="collection-header"> 
		      <h2>{{contentType}} related to {{content.name}}</h2>
		      <!-- <p>Frequency:  <span id="frequency"><strong>{{content.frequency}}</strong></span> -->
			<div class="content-reveal">
				<p> 
            This page will not be complete for this prototype, however in the future it will give you access to additional content related to this specific topic.
          <!-- <a href="" toggler="more" ng-if="data.more" toggler-widget-var="w_toggler" class="content-reveal__action">
            {{w_toggler.isVisible() ? 'Show less' : 'Show more'}}
          </a> </p> -->
				<!-- <div toggleable="more"  class="content-reveal__hidden">
				    <p>
            {{content.more}}    
            </p>
				</div> -->
			</div>
          </div>
        </div>  
      </div> 
    </div> 
  </section>

<div class="wrapper nav-panels">
  <span ng-show="isLoading()" >Loading ...</span>
  <div class="grid-wrap">
        <div class="grid-col tablet-wide-grid-two-thirds">
          <article class="box">
   
            <div id="search" class="search">
              <span ng-show="isLoading()" >Loading ...</span>

              <dl>
                  <dt ng-repeat-start="item in searchResponse.results" class="">
                    <a href="#!{{item.url}}">{{item.title}}</a>
                  </dt>
                  <dd ng-repeat-end class="microcopy"> Released {{item.releaseDate}}</dd>
              </dl>
            </div>

            <paginator></paginator>
    
          </article>
        </div>
  </div>
          <!-- /end of results list grid-col -->
  </div>
  <ons-footer></ons-footer>
