<div class="page-header page-header--article page-header--article slate--mid-grey">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--expert-analysis-desc"> <strong>National Statistics</strong> </p>
        <h1 class="page-header__title flush--half--bottom">Welcome to the ONS Alpha website</h1>
        <social-links></social-links>
    </div>
    <!-- /nav-panel -->
</div>
<div class="panel">
    <section class="panel--large wrapper flush--top">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-full-width tablet-grid-full-width">
                <article>
                    <p>The primary objective of this alpha was to build a broad but shallow version of the ONS website that utilises modern web design thinking and allows us to implement the insights we have gained from our user research throughout the &lsquo;discovery&rsquo; phase and beyond.
                    </p>
                </article>
                <!-- /grid-col -->
            </div>
            <!-- /grid-wrap -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">What content will I find in this prototype?</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>What do we mean by &lsquo;broad but shallow&rsquo;? We've tried to provide enough content in the alpha to allow some kind of endpoint for the majority of user journeys. This means that there is appropriate content in all of the navigation &lsquo;nodes&rsquo; (we've implemented the taxonomy we previously tested) and a wide spread of content types.</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">What content won't I find?</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>You won't find the entirety of our datasets and time series, and only a selection of our statistical bulletins and other article types. Historic data (other than &lsquo;time series&rsquo;) and some sections (About Us, Methodology etc.) are also less populated.</p>
                        <div class="box box--callout">
                            <div class="box__content">
                                <p>Content on this website is not conclusive and may not be up-to-date or corect. Please refer to the <a href="http://www.ons.gov.uk/ons/index.html" title="Current ONS website" target="_self">current ONS website</a> for the most recent statistics. </p>
                            </div>
                        </div>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Search</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>We have introduced a new approach to search using the open source software, ElasticSearch. This builds upon work we were hoping to implement on the current site and benefits from guidance from experts at independent search consultancy Flax and the Government Digital Service. Again the &lsquo;broad but shallow&rsquo; approach has been important here in ensuring there is enough content to provide realistic search results.</p>
                        <p>We know a good search experience is hugely important to you and your <a href="#" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">feedback</a> on the search solution you'll find here is invaluable in helping us build a search that works for you.</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Built by our users</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>We've remained focused on our user needs throughout this project and used a combination of formal, lab based and informal ‘guerilla’ user research to build this website you're using today.</p>
                        <p>This process is an iterative one and whilst using the Alpha you will notice links to provide feedback on your experience. Your observations WILL help shape the next ONS website so please feel free to <a href="#" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()"><span class="buttons">provide as much feedback</span></a> as you can.</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Our development approach</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>We've formed a co-located, multidisciplinary team that work in an agile manner and use current best practice in all approaches. The team have made use of &lsquo;cloud&rsquo; infrastructure and has implemented continuous integration and automated testing tools. We've practiced &lsquo;test driven development&rsquo; and are using open source frameworks rather than reinventing the wheel. We were lucky enough to have been given the freedom to take an almost &lsquo;lean startup&rsquo; approach and hopefully we've made the most of the learning opportunities.</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Lots more to come</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>Through user research we have identified a number of areas that require further investigation and cannot be addressed within the scope of the Alpha. These include, but are not limited to:
                            <ul>
                                <li>What we do with local and geographical data</li>
                                <li>Access to all the time series data and datasets</li>
                                <li>Improved terminology and language used throughout</li>
                                <li>Alternate methods of accessing data</li>
                            </ul>
                        </p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">What's next and how can I help?</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>The Alpha website will close on the 5<sup>th</sup> January 2015. We will review all feedback and user research findings before determining the next steps.</p>
                        <p>We really need your help during this time in one of the following ways:</p>
                        <ol>
                            <li><a href="#" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">Provide as much feedback</a> as you possibly can - good or bad we want it all.</li>
                            <li>Complete our <a href="#" title="????" target="_self">quick online task based study</a>
                            </li>
                            <li>Share with colleagues or anyone else you may feel be interested!</li>
                        </ol>
                        <p>Thank you.
                            <br /> The ONS Alpha team</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
</div>
