<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc"> <strong>Legal</strong> </p>
        <h1 class="page-header__title flush--half--bottom">Accessibility</h1>
        <social-links></social-links>
    </div>
    <!-- /nav-panel -->
</div>
<div class="panel">
    <section class="panel--large wrapper flush--top">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-full-width tablet-grid-full-width">
                <article>
                    <p>This is an experimental prototype for a Office for National Statistics website.
The website doesn’t have a separate accessibility statement, however we’ve tried to design this prototype to be as accessible and usable as possible for every user.</p>
<p>We are aware of some accessibility limitations of the site, in particular relating to colour contrast, incorrectly ordered headings and hidden content. The site also currently uses an AngularJS framework which is not necessarily compatible with some screen readers, however this will not be the approach taken for developing the site in the future.</p>
                </article>
                <!-- /grid-col -->
            </div>
            <!-- /grid-wrap -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Compatibility with tools</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>This prototype website should be compatible with recent versions of the following screen readers:</p>
                        <ul>
                            <li>Jaws</li>
                            <li>NVDA</li>
                            <li>Thunder</li>
                            <li>VoiceOver</li>
                        </ul>
                        <p>The site should also be compatible with:</p>
                        <ul>
                            <li>basic operating system screen magnifiers</li>
                            <li>speech recognition software, eg Dragon Naturally Speaking</li>
                            <li>operating system speech packages</li>
                        </ul>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Get help</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>You can find guidance from the BBC about:</p>
                        <ul>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/mouse_easier/" target="_blank">making your mouse easier to use</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/" target="_blank">using your keyboard to control your mouse</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/alternative_devices/" target="_blank">alternatives to a keyboard and mouse</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/text_larger/" target="_blank">increasing the size of the text in your web browser</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/change_colours/" target="_blank">changing text and background colours</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/magnify/" target="_blank">how to magnify your screen</a></li>
                            <li><a href="http://www.bbc.co.uk/accessibility/guides/screenreaders/" target="_blank">screen readers and talking browsers</a></li>
                        </ul>
                        </div>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
    <section class="panel--large wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
                <article class="box">
                    <h2 class="beta">Leave feedback</h2>
                </article>
            </div>
            <!-- /box -->
            <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
                <article class="box">
                    <div class="box__content">
                        <p>Please <a href="" id="my_feedback" onclick="_bugHerd.win.bugherd.applicationView.anonymousbar.toggleOptions()">provide as much feedback</a> about this prototype website as you possibly can - good or bad we want it all.</p>
                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box -->
            </div>
            <!-- /grid-col -->
        </div>
    </section>
    <!-- /section -->
</div>
