<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc">
            <strong>Legal</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Copyright</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>

<div class="wrapper">
    <div class="panel">
    </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
            <div class="panel--bottom-mar">
                <h3>© Crown copyright 2014</h3>
                <p>All material on the Office for National Statistics (ONS) website is subject to Crown Copyright protection unless otherwise indicated. You may re-use this information (excluding logos) free of charge, in any format or medium, under the terms of the Open Government Licence v2.0. To view this licence, visit the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">National Archives website</a> or email <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>
                </p>

                <p>Where we have identified any third-party copyright information, you will need to obtain permission from the copyright holders concerned.</p>

                <p>Users reproducing ONS content without adaptation should include a source accreditation to ONS: <b>Source: Office for National Statistics licensed under the Open Government Licence v.2.0.</b>
                </p>

                <p>Users reproducing ONS content which is adapted should include a source accreditation to ONS: <b>Adapted from data from the Office for National Statistics licensed under the Open Government Licence v.2.0.</b>
                </p>

                <p>Please note that the ONS logo must not be reproduced unless permission is sought. If you would like permission to reproduce the logo, please <a href="#!/contactus">contact us</a>
                </p>

                <h3>Confidentiality</h3>
                <p>Census products incorporate safeguards against possible identification of any particular person or household. Users shall not use products to attempt to obtain or derive information relating specifically to an identified person or household, nor claim to have obtained or derived such information.</p>

                <h3>Maps</h3>
                <p>
                    The statement below should be used when reproducing maps from ONS material: </p>

                <p><b>© Crown copyright and database rights [year of supply] Ordnance Survey 100019153</b>
                </p>
            </div>


        </div>
    </div>
</div>
