<!-- <div  ng-controller="T2Ctrl" > -->

<!-- Content-reveal section -->
    <div class="page-header slate"  >
        <div class="wrapper">
          <h1 class="page-header__title flush--half--bottom">{{data.name}}</h1>
          <div class="content-reveal lede">
            <p>{{data.lede}}
              <a href="" expand-label="Show more" collapse-label="Show less"  toggler="more" ng-if="data.more" class="content-reveal__action"></a>
            </p>
            <div toggleable="more" class="content-reveal__hidden">
              <p>
              {{data.more}}
              </p>
            </div>
          </div>
            <div class="page-header__icons">
            <!--<a href="#!" class="link-complex">
              <span class="icon icon-twitter icon-grey">
                <span class="visuallyhidden">Share on Twitter</span>
              </span>
            </a>!-->
            <a href="#!" class="link-complex"><span class="icon icon-twitter icon--grey"><span class="visuallyhidden">Share on Twitter</span></span></a>
            <a href="#!" class="link-complex">
              <span class="icon icon-facebook icon--grey">
                <span class="visuallyhidden">Share on Facebook</span>
              </span>
            </a>
          </div>

        </div>
         
    </div>
        <!-- /wrapper -->


<!-- Top header box -->
      <!-- /page-header -->
      <div ng-repeat="timeseries in data.timeseries" class="wrapper">
        <section ng-show="timeseries.headline === true" id="headline" class="box box--padded-vertical box--blue box--green--separated-left solid border lifted offset-top border-defined">
          <div class="box__content">
            <div class="divider">
              <div class="divider__half divider__half--border divider__half--border-first">
                <h2 tooltip="Percentage change over 12 months <br><br> Not seasonally adjusted" tooltip-class="icon--inline--large-text icon--small"  class="beta">
                    {{timeseries.name}}
                </h2>
                <div class="box box--inline box--padded muted--dark">
                  <div class="stat stat--headline">
                    <div class="stat__figure">
                      {{timeseries.number}}
                      <!-- 1.5 -->
                      <span class="stat__figure__unit">%</span>
                    </div>

                  </div>
                </div>
                <!-- /box -->
                <dl class="definition mini">
                  <dt>Last updated:</dt>
                  <dd>
                  {{timeseries.lastUpated}}
                  <!-- 16 Sep 2014 -->
                  </dd>
                  <dt>Next update:</dt>
                  <dd>
                  {{timeseries.nextUpdate}}
                  <!-- 14 Oct 2014 -->
                  </dd>
                </dl>
              </div>
        <!-- /box -->

                <!-- /box -->

    <!-- Explanation of the numbers -->
              <div  id="statsBulletinHeadlines" class="divider__half">
                <h3  class="body-type lede flush--bottom navpanel-list-heading">

                Statistical Bulletin Headlines
                </h3>
                <ul ng-repeat="explanation in timeseries.statsBulletinHeadlines" class="list--bullet mini flush--half--top navpanel-list">
                  <li>
                  {{explanation.text}}
                  <!-- The Consumer Price Index (CPI) grew by 1.5% in the year to May
                    2014, down from 1.8% in April. -->
                  </li>
                  <!-- <li>Fall in transport services costs, notably air fares, provided
                    the largest contribution to the decrease in the rate.</li>
                  <li>The timing of Easter in April is likely to have an impact on movements in the index, notably for air and sea fares.</li> -->
                  </ul>
                <a class="action" href="#!/bulletin">
                    <span class="table__action__text search-sorting">View the statistical bulletin &gt;
                    </span>

                  </a>
              </div>
            </div>
          </div>
          <!-- /box__content -->
        </section>
        <!-- /box -->
      </div>


      <!-- /wrapper -->

<!-- List/Table with data -->
      <section id="timeseries" class="panel--large wrapper">
        <h2 id="related" class="list--table-header">All Statistics Related to Inflation and Price Indices</h2>
          <ol class="list--table list--table--complex table--striped-light table--selectable table-light--sectioned lifted">
            <li class="list--table__item list--table__head">
              <label class="list--table__item__body list--table__item__body--select-all nojs-hidden">Select all
                <input type="checkbox" aria-label="Select" id="checkbox">
              </label>
            </li>
        <!-- Table line starts here -->
            <!-- /list- -table__head -->
            <li ng-repeat="timeseries in data.timeseries" class="list--table__item list--table__body">
              <div class="list--table__item__body list--table__item__body--caption">
                <h3 class="list--table__item__header">
                  <a href="#!" class="no_underline">
                  {{timeseries.name}}
                  <!-- CPI Index -->
                  </a>
                  <a class="information" href="#!">
                    <span tooltip="More Information" ></span>
                  </a>
                </h3>
                <p class="list--table__item__description">
                {{timeseries.note}}
                <!-- 2005 = 100. Not seasonally adjusted -->
                </p>
              </div>
              <div class="list--table__item__body list--table__item__body--stat">
                <div class="stat list--table__item__body--centred">
                  <div class="stat__figure stat__tight">
                    {{timeseries.number}}
                    <!-- 1.5 -->
                  </div>
                  <time class="stat__description" datetime="2014-01">
                  {{timeseries.date}}
                  <!-- January 2014 -->
                  </time>
                </div>
              </div>
              <div class="list--table__item__body list--table__item__body--update">
                <dl class="micro definition-list definition-list--inline flush--half--vertical">
                  <dt>Last updated:</dt>
                  <dd>
                  {{timeseries.lastUpated}}
                  <!-- 18th Feb 2014 -->
                  </dd>
                  <dt>Next updated:</dt>
                  <dd class="red_highlight">
                  {{timeseries.nextUpdate}}
                  <!-- 25th June 2014 -->
                  </dd>
                </dl>
              </div>
              <label class="list--table__item__body list--table__item__body--select">
                <span class="visuallyhidden">Select statistic</span>
                <input type="checkbox">
              </label>
            </li>
            <!-- /list- -table__body -->
        <!-- End of line -->



    <!-- Bottom options for downloading table contents -->
            <!-- /list- -table__body -->
            <li class="list--table__item list--table__footer">
            <div class="list--table__item__body">
              <div class="table__actions split">
                <a class="table__action split__title link-muted" href="#!">
                  <span class="table__action__text">View all 1234 time series</span>
                </a>
                <a class="table__action" href="#!">
                  <span class="table__action__text">Download all 1234</span>
                  <span class="icon-download" role="presentation"></span>
                </a>
                <a href="#!" class="btn btn--flex btn--block btn--primary">
                  <span class="table__action__text">Download selected</span>
                  <span class="icon-download" role="presentation"></span>
                </a>
              </div>
              <!-- /table-actions -->
            </div>
            <!--  /list-table__item__body -->
          </li>
            <!-- /list- -table__item -->
          </ol>
          <!-- /list- -table -->
      </section>




<!-- Key dataset -->
<section class="panel wrapper">
        <header class="actionable-header">
          <h2 class="actionable-header__title table-inline ">Key datasets</h2>
          <a class="" href="#!">View more datasets</a>
        </header>
        <div class="grid-wrap">
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded sectioned lifted border-defined">
              <header class="box__header">
                <h3 class="gamma">
                    <a href="#!">Inflation Summary </a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li class="">Overview of all high level consumer inflation data, including CPI, RPI, CPIH and RPIJ</li>
                  <!-- <li>Between 1997 and 2011 the contribution of building to total GVA decreased in each of the NUTS1 regions.</li> -->
                </ul>
                <p class="lozenge">Dataset</p>
                <!-- /list- -bullet -->
              </div>
              <!-- /box__content -->
              <!-- <footer class="box__footer box__actions">
                <a class="btn btn--primary btn--small btn--narrow align_right" href="#!">
            Download .xls
            <span class="icon icon-download icon--button-inline"></span>
          </a>
              </footer> -->
              <!-- /box__actions -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded sectioned lifted border-defined">
              <header class="box__header">
                <h3 class="gamma">
                  <a href="#!">Retail Price Index </a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li>Complete dataset covering all RPI statistics. Not a national statistic</li>
                  <!-- <li>Falls in transport services costs, notably air fares</li> -->
                </ul>
                <p class="lozenge">Dataset</p>
                <!-- /list- -bullet -->
              </div>
              <!-- /box__content -->
              <!-- <footer class="box__footer box__actions">
                <a class="btn btn--primary btn--small btn--narrow align_right" href="#!">
            Download .xls
            <span class="icon icon-download icon--button-inline"></span>
          </a>
              </footer> -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third tablet-grid-one-half tablet-grid-clear">
            <article class="box box--padded sectioned lifted border-defined">
              <header class="box__header">
                <h3 class="gamma">
                  <a href="#!">Produce Price Inflation </a>
                </h3>
              </header>
              <!-- /box__header -->
              <div class="box__content">
                <ul class="list--table">
                  <li>Comprehensive dataset covering input and output index series</li>
                  <!-- <li>Between 1997 and 2011 the contribution of building to total GVA
                    decreased in each of the NUTS1 regions.</li>
                  <li>In 2012 the South East had the largest increase in GVA</li>
                  <li>Between 1997 and 2011 the contribution of building to total GVA
                    decreased in each of the NUTS1 regions.</li> -->
                </ul>
                <p class="lozenge">Dataset</p>
                <!-- /list- -bullet -->
              </div>
              <!-- /box__content -->
              <!-- <footer class="box__footer box__actions">
                <a class="btn btn--primary btn--small btn--narrow align_right" href="#!">
            Download .xls
            <span class="icon icon-download icon--button-inline"></span>
          </a>
              </footer> -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col hide-large">
            <a href="#!">View more datasets</a>
          </div>
        </div>
        <!-- /grid-wrap -->
      </section>

      <latest-bulletins></latest-bulletins>
      <related-articles></related-articles>
      <contact-details></contact-details>
      <ons-tools-pane></tools-tools-pane>



      <!-- /slate -->

    <!-- build:js /ui/js/ons-alpha.js-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js" defer></script>
    <!-- endbuild -->
