<!-- <div  ng-controller="T2Ctrl" > -->

<!-- Content-reveal section -->
<div class="page-header slate_original">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <h1 class="page-header__title flush--half--bottom">{{taxonomy.data.name}}</h1>
        <div class="content-reveal lede">
            <p>{{taxonomy.data.lede}}
                <a href="" toggler="more" toggler-widget-var="w_toggler" ng-if="taxonomy.data.more" class="content-reveal__action">{{w_toggler.isVisible() ? 'Show less' : 'Show more'}}</a>
            </p>
            <div toggleable="more" class="content-reveal__hidden">
                <p>
                    {{taxonomy.data.more}}
                </p>
            </div>
        </div>

        <social-links></social-links>

    </div>
</div>
<!-- /wrapper -->

<div class="wrapper">
    <section id="headline" class="box box--padded-vertical box--padded-horizontal box--blue  solid border lifted offset-top border-defined">
        <div class="box__section__header">
            <h2 class="beta">
                {{taxonomy.data.headline.name}}, {{taxonomy.data.headline.data.date}}
            </h2>
        </div>
        <div class="grid-wrap">

            <div class="grid-col tablet-grid-one-half">
                <div class="box box--padded--med box--green--separated-left box--inline">
                    <header class="box___section">
                        <h2 tooltip="Percentage change over 12 months <br><br> Not seasonally adjusted" tooltip-class="tooltips icon-info-circled icon--warm icon--inline icon--inline--large-text icon--small tooltipstered" class="beta nav_title">
                            <a href="#!{{taxonomy.data.headline.uri}}">{{taxonomy.data.headline.name}}</a>
                        </h2>
                    </header>
                    <div class="box box--inline box--padded muted--dark">
                        <div class="stat stat--headline">
                            <span ng-if="!taxonomy.data.headline.data">Loading...</span>
                            <div class="stat__figure">
                                <span class="stat__figure__unit">{{taxonomy.data.headline.data.preUnit}}</span>
                                {{taxonomy.data.headline.data.number}}
                                <span class="stat__figure__unit">{{taxonomy.data.headline.data.unit}}</span>
                            </div>
                        </div>
                    </div>
                                 <div class="box box--padded--small">
                        <div ng-controller="T3HeadlineChartController as chart">
                           <div ng-if="chart.chartVisible">
                               <highchart class="highcharts-background" id="chart_prices" config="chart.chartConfig">
                               </highchart>
                           </div>
                        </div>                
                    </div>
                    <!-- /box -->
                    <dl class="definition mini">
                        <dt>Last updated:</dt>
                        <dd>
                            {{taxonomy.data.headline.data.lastUpated}}
                            <!-- 16 Sep 2014 -->
                        </dd>
                        <dt>Next update:</dt>
                        <dd>
                            {{taxonomy.data.headline.data.nextUpdate}}
                            <!-- 14 Oct 2014 -->
                        </dd>
                    </dl>
                </div>

            </div>

            <!-- /box -->

            <div class="grid-col tablet-grid-one-half">
                <div class="box box--padded solid  arrow_box">
                    <div id="statsBulletinHeadlines">
                        <a href="#!{{taxonomy.data.statsBulletinHeadline.data.uri ? taxonomy.data.statsBulletinHeadline.data.uri : '/economy/inflationandpriceindices/bulletins/consumerpriceinflation'}}">
                            <h3 class="body-type lede flush--bottom navpanel-list-heading">{{taxonomy.data.headline.name}} Headlines</h3>
                        </a>
                        <ul class="list--bullet mini flush--half--top navpanel-list">
                            <li ng-if="taxonomy.data.statsBulletinHeadline.data.headline1">{{taxonomy.data.statsBulletinHeadline.data.headline1}}</li>
                            <li ng-if="taxonomy.data.statsBulletinHeadline.data.headline1">{{taxonomy.data.statsBulletinHeadline.data.headline2}}</li>
                            <li ng-if="taxonomy.data.statsBulletinHeadline.data.headline1">{{taxonomy.data.statsBulletinHeadline.data.headline3}}</li>
                            <li ng-if="!taxonomy.data.statsBulletinHeadline.data">Lorem ipsum dolor sit amet, vel oporteat percipitur ex, quando persecuti id mea, pri at nihil essent aliquid.</li>
                            <li ng-if="!taxonomy.data.statsBulletinHeadline.data">Lorem ipsum dolor sit amet, vel oporteat percipitur ex, quando persecuti id mea, pri at nihil essent aliquid.</li>
                            <li ng-if="!taxonomy.data.statsBulletinHeadline.data">Lorem ipsum dolor sit amet, vel oporteat percipitur ex, quando persecuti id mea, pri at nihil essent aliquid.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!-- /box__content -->
    </section>
</div>
<!-- /box -->
<!-- /wrapper -->

<!-- List/Table with data -->

<section id="timeseries" class="panel--large wrapper">
    <h2 id="related" class="list--table-header">Time Series Related to {{taxonomy.data.name}}</h2>
    <ol class="list--table list--table--complex table--striped-light table--selectable table-light--sectioned lifted">
        <li class="list--table__item list--table__head">
            <label class="list--table__item__body list--table__item__body--select-all nojs-hidden">Select all
                <input type="checkbox" aria-label="Select" id="checkbox">
            </label>
        </li>
        <!-- /list- -table__head -->
        <li ng-repeat="item in taxonomy.data.items" class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--caption">
                <h3 class="list--table__item__header">
                    <a href="#!{{item.uri}}" class="no_underline"> {{item.name}}</a>
                    <a class="information" href="#">
                        <span tabindex="0" title="" class="tooltip icon-info-circled icon--warm  icon--inline"></span>
                        <span class="visuallyhidden">More information about {{item.name}}</span>
                    </a>
                </h3>
                <p class="list--table__item__description">{{item.data.seasonalAdjustment}}</p>
            </div>
            <!-- <div class="list--table__item__body list--table__item__body--stat">
                <div class="stat list--table__item__body--centred">
                    <span ng-if="!item.data">Loading...</span>
                    <div class="stat__figure stat__tight">
                        <span class="stat__figure__unit">{{item.data.preUnit}}</span>
                        {{item.data.number}}
                        <span class="stat__figure__unit">{{item.data.unit}}</span>
                    </div>
                    <time class="stat__description">{{item.data.date}}</time>
                </div>
            </div> -->
                  <div class="list--table__item__body list--table__item__body--stat" >
                    <div ng-controller="T3TableChartController as chart">
                        <div class="stat list--table__item__body--centred" ng-if="chart.chartVisible">
                            <highchart class="highcharts-background" id="chart_prices" config="chart.chartConfig">
                            </highchart>
                        </div>
                    </div>
                  </div>
            <div class="list--table__item__body list--table__item__body--update">
                <dl class="micro definition-list definition-list--inline flush--half--vertical">
                    <dt>Last updated:</dt>
                    <dd>{{item.data.lastUpated || 'Not Available'}}</dd>
                    <dt>Next update:</dt>
                    <dd class="red_highlight">{{item.data.nextUpdate || 'Not Available'}}</dd>
                </dl>
            </div>
            <!--  <label class="list--table__item__body list--table__item__body--select">
                <span class="visuallyhidden">Select statistic</span>
                <input st-select ng-model="item.isSelected" type="checkbox">
            </label> -->
        </li>
        
        <li  ng-show="t3.isLoading()" class="list--table__item list--table__footer">
            <div class="list--table__item__body--centred">
                        <span>Loading ...</span>
                </div>
            <!--  /list-table__item__body -->
        </li>
        <!-- /list- -table__body -->
        <li class="list--table__item list--table__footer">
            <div class="list--table__item__body">
                <div class="table__actions split">
                    <a class="table__action split__title link-muted" href="#">
                        <span class="table__action__text">View all {{taxonomy.data.items.length}} time series</span>
                    </a>
                </div>
                <!-- /table-actions -->
            </div>
            <!--  /list-table__item__body -->
        </li>
        <!-- /list- -table__item -->
        <!-- /list- -table__body -->
    </ol>
    <!-- /list- -table -->
</section>

<section class="panel wrapper box box--padded--med box--green--separated-left solid border">
    <header class="actionable-header__title">
        <h2 class="actionable-header__title table-inline ">Datasets</h2>
        <a class="hide-small" href="#!{{getPath()}}/collection?contentType=datasets">View more datasets</a>
    </header>

    <!-- Static content for pages with no related datasets -->
    <div ng-if="(taxonomy.data.datasets).length == 0" class="grid-wrap">
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#">Lorem ipsum</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Quisque eget magna nec erat laoreet sodales. Suspendisse at risus non libero.</li>
                        <!-- <li>Between 1997 and 2011 the contribution of building to total GVA decreased in each of the NUTS1 regions.</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#">Vestibulum ligula tortor </a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li>Nunc in nunc dictum, sollicitudin ligula vitae, pulvinar nulla.</li>
                        <!-- <li>Falls in transport services costs, notably air fares</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#">Lorem ipsum</a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">Quisque eget magna nec erat laoreet sodales. Suspendisse at risus non libero.</li>
                        <!-- <li>Between 1997 and 2011 the contribution of building to total GVA decreased in each of the NUTS1 regions.</li> -->
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <!-- /grid-col -->

        <div class="grid-col hide-large">
            <a href="#">View more datasets</a>
        </div>
    </div>
    <!-- /grid-wrap -->


    <!-- Dynamic Content -->
    <div ng-if="(taxonomy.data.datasets).length > 0" class="grid-wrap">
        <div ng-repeat="dataset in taxonomy.data.datasets track by $index" class="grid-col desktop-grid-one-third tablet-grid-one-half">
            <article class="box box--padded">
                <header class="box__header">
                    <h3>
                        <a href="#!{{dataset.uri}}">{{dataset.name}}></a>
                    </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--table">
                        <li class="">{{dataset.data.summary}}</li>
                    </ul>
                    <!-- /list- -bullet -->
                </div>
                <!-- /box__content -->
            </article>
            <!-- /box -->
        </div>
        <div class="grid-col hide-large">
            <a href="#!{{getPath()}}/collection?contentType=datasets">View more datasets</a>
        </div>
    </div>

</section>

<latest-bulletins></latest-bulletins>
<related-articles></related-articles>
<contact-details></contact-details>
