<div class="page-header page-header--article page-header--contact-us slate--dark-red">
    <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--error-desc">
            <strong>About ONS</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Privacy Statement</h1>

        <social-links></social-links>

    </div>
    <!-- /nav-panel -->
</div>

<div class="wrapper">
    <div class="panel">
    </div>
</div>

<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
            <div class="panel--bottom-mar">
                <p>ONS has created this privacy statement in order to demonstrate our firm commitment to privacy. The following is a description of what data is collected when you use this website and what it is used for.
                </p>

                <h3>User information</h3>
                <p>This website uses cookies and JavaScript tracking code to gather anonymous information about visitors' usage patterns, in order to improve the navigation of the site, the presentation of its content, and the quality of its services.</p>

                <p>The information collected does not include personal details such as your name, age, telephone number, postal address or email address, nor does it allow personal identification of a user.</p>

                </p>

                <h3>Cookies</h3>
                <p>When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device, for example, computer or mobile phone. These include small files known as cookies. They cannot be used to identify you personally.</p>

                <p>These pieces of information are used to improve services for you through, for example:</p>
                <ul>
                    <li>enabling a service to recognise your device so you don't have to give the same information several times during one task</li>
                    <li>recognising that you may already have given a username and password so you don't need to do it for every web page requested</li>
                    <li>measuring how many people are using services, so they can be made easier to use and there's enough capacity to ensure they are fast</li>
                </ul>
                <p>You can manage these small files yourself and learn more about them through <a href="https://www.gov.uk/help/cookies">Internet browser cookies - what they are and how to manage them</a></p>

                <h3>Contacting the website</h3>
                <p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this website, you can <a href="#!/contactus">contact us</a>
            </div>


        </div>
    </div>
</div>
