<div class="push"></div>

<footer class="global-footer" sticky-footer=".wrapper">
  <div class="slate panel--pad-large panel--separated" >
    <div class="wrapper">
      <nav class="grid-wrap">
        <div class="grid-col tablet-grid-one-third">
          <h2 class="delta headline-separated">Legal</h2>
          <ul class="list--neutral list--grid list--spaced">
            <li>
              <a href="#!/accessibility">Accessibility</a>
            </li>
            <li>
              <a href="#!/privacy">Cookies and privacy</a>
            </li>
            <li>
              <a href="#!/copyright">Copyright</a>
            </li>
          </ul>
        </div>

        <div class="grid-col tablet-grid-one-third">
          <h2 class="delta headline-separated">About us</h2>
          <ul class="list--neutral list--grid list--spaced">
            <li>
              <a href="#!/about">Who we are</a>
            </li>
            <li>
              <a href="#!/about">Careers</a>
            </li>
            <li>
              <a href="#!/about">Products and services</a>
            </li>
            <li>
              <a href="#!/contactus">Contact us</a>
            </li>
            <li>
              <a href="#!/contactus">Our offices</a>
            </li>
          </ul>
        </div>

        <div class="grid-col tablet-grid-one-third">
          <h2 class="delta headline-separated">Connect with us</h2>
          <ul class="list--neutral list--grid list--spaced">
            <li>
              <a href="https://twitter.com/ONS">Twitter</a>
            </li>
            <li>
              <a href="https://www.facebook.com/ONS">Facebook</a>
            </li>
<!--             <li>
              <a href="https://uk.linkedin.com/company/office-for-national-statistics">LinkedIn</a>
            </li> -->

          </ul>
        </div>
      </nav>
    </div>
    <!-- /wrapper -->
  </div>
  <!-- /slate -->
  <div class="slate--dark">
    <div class="wrapper">
      <div class="footer__license">
        <img class="footer__license__img" alt="OGLlogo" width="60" src="/ui/img/ogl.png"/>
        <p class="footer__license__body">
          All content is available under the Open Government Licence v2.0, except where otherwise stated
        </p>
      </div>
    </div>
  </div>
</footer>






