  <a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
      <span>Skip to main content</span>
    </a>
    <main id="main" role="main" class="ONS_border">
      <!-- temp removal to allow for component list selective wrapping -->
      <!-- <div class="wrapper"> -->
       <div class="wrapper panel--pad-small">
  <header class="global-header">
    <div class="media">
      <a href="/">
        <img src="/ui/img/ons-logo.svg" alt="Office for National Statistics" width="300" class="media__img">
      </a>
      <div class="media__body">
        <ul class="nav nav--inline-block nav--dark globaltop-nav">
          <li>
            <a href="#">Release calendar</a>
          </li>
          <li>
            <a href="#">Methodology</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>


      </div>
    </div>
  </header>
</div>
<nav class="ons-nav">
  <div class="wrapper">
    <ul class="nav nav--multi nav--block nav--primary flush--bottom" id="nav-primary">
      <li class="nav--primary home">
              <a href="/"><span class="icon-home icon--inline"></span><span class="icon-inline vertical-align-mid">Home</span></a>
      </li>
      <li>
        <a href="#" class="nav__expandable js-expandable arrowunderline">Business, Industry, and Trade</a>
        <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
          <li>
            <a href="#">Business</a>
          </li>
          <li>
            <a href="#">Changes to business</a>
          </li>
          <li>
            <a href="#">Construction and industry</a>
          </li>
          <li>
            <a href="#">IT and internet industry</a>
          </li>
          <li>
            <a href="#">International trade</a>
          </li>
          <li>
            <a href="#">Manufacturing and production</a>
          </li>
          <li>
            <a href="#">Retail industry</a>
          </li>
          <li>
            <a href="#">Tourism industry</a>
          </li>
        </ul>
      </li>
      <li class="nav--primary__active">
        <a href="/home/economy/" class="nav__expandable js-expandable arrowunderline">Economy</a>
        <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
          <li>
            <a href="#">Economic output and productivity</a>
          </li>
          <li>
            <a href="#">Environmental account</a>
          </li>
          <li>
            <a href="#">Government, public sector, and taxes</a>
          </li>
          <li>
            <a href="#">Gross Domestic Product (GDP)</a>
          </li>
          <li>
            <a href="#">Gross Values Added (GVA)</a>
          </li>
          <li>
            <a href="/home/economy/inflationandpriceindices">Inflation and price indices</a>
          </li>
          <li>
            <a href="#">Investment and pension trust</a>
          </li>
          <li>
            <a href="#">National accounts</a>
          </li>
          <li>
            <a href="#">Regional accounts</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="nav__expandable js-expandable arrowunderline">Employment and Labour Market</a>
        <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
          <li>
            <a href="#">People in work</a>
          </li>
          <li>
            <a href="#">People not in work</a>
          </li>
          <li>
            <a href="#">Public sector personnel</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="nav__expandable js-expandable arrowunderline">People, Population, and Community</a>
        <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
          <li>
            <a href="#">Births, deaths, and marriages</a>
          </li>
          <li>
            <a href="#">Community</a>
          </li>
          <li>
            <a href="#">Education and childcare</a>
          </li>
          <li>
            <a href="#">Crime and justice</a>
          </li>
          <li>
            <a href="#">Household characteristics</a>
          </li>
          <li>
            <a href="#">Well-being</a>
          </li>
          <li>
            <a href="#">Health and social care</a>
          </li>
          <li>
            <a href="#">Elections</a>
          </li>
          <li>
            <a href="#">Personal and household finances</a>
          </li>
          <li>
            <a href="#">Population and migration</a>
          </li>
          <li>
            <a href="#">Cultural identity</a>
          </li>
          <li>
            <a href="#">Housing</a>
          </li>
          <li>
            <a href="#">Leisure and tourism</a>
          </li>
        </ul>
      </li>
      <li class="nav--primary__highlight">
        <a href="#">
          <span class="icon-users icon--inline"></span>Respondents</a>
      </li>
      <li class="nav--primary__secondary-content">
        <a href="#">Release calendar</a>
      </li>
      <li class="nav--primary__secondary-content">
        <a href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="slate--mid-grey_new flush">
  <div class="wrapper">
    <div class="grid-wrap">
      <div class="grid-col desktop-grid-one-half box--inline">
        <form action="#/searchresults" class="hero reduced_padding pad_right" _lpchecked="1">
         <label for="homepageSearch" class="visuallyhidden">Search term:</label>
            <input id="homepageSearch" type="text" class="input-med-large--flex--three-fifths  search_reduction" name="q" value="" placeholder="Search for keyword or time series id">
            <button type="submit" class="btn btn--primary btn--small btn--form--large-icon input--lede-btn-icon align_middle no_left_margin">
              <span class="icon icon-search-1">
                <span class="visuallyhidden">Search</span>
              </span>
            </button>
        </form>
    </div>
  <div class="grid-col desktop-grid-one-half box--inline--flex">
    <div class="link_head">
      <a href="about:blank" class="link"> Browse Regional Statistics</a></div>
        <div class="page-header__icons_new">
          <img src="/ui/img/UK.png" alt="uk map" class="ukmap">
        </div>
      </div>
    </div>
  </div>
  <!-- /Slate !-->
</div>

<div class="wrapper panel--pad-small">
  <ol class="nav nav--heavy breadcrumb mini flush">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="/home/economy">Economy</a>
    </li>
    <li class="nav__active">
      <a href="#">Government, Public Sector, and Taxes</a>
    </li>
  </ol>

  <!--<ol class="nav nav-inline-block nav-dark mini">
    <li>
      <a href="#">Local Government Finance</a>
    </li>
    <li>
      <a href="#">Public Sector Finance</a>
    </li>
    <li class="nav__active">
      <a href="#">Public Spending</a>
    </li>
    <li>
      <a href="#">Research and Development Expenditure</a>
    </li>
    <li>
      <a href="#">Taxes and Revenue</a>
    </li>
  </ol>!-->

<!-- /Wrapper panel -->
</div>
