<div class="wrapper panel--bottom-mar" ng-controller="TabsCtrl" >
              <section class="panel wrapper">
            <header class="actionable-header">
          <h2 class="actionable-header__title">Release Calendar</h2>
          <span class="actionable-header__action hide-med-down icon-inline">Get updates to this calendar</span>
          <a class="actionable-header__action hide-med-down" href="#"><span class="icon-mail icon-inline">email</span></a>
          <a class="actionable-header__action hide-med-down" href="#"><span class="icon-rss icon-inline">RSS</span></a>
        </header>
      <!-- <section class="panel--large wrapper">
        <h2 class="">Release Calendar</h2>
      </section> -->
    <div class="wrapper panel--bottom-mar">
        <div class="next-releases tab-pane tab-pane--dual lifted">
          <ul role="tablist" class="nav tab-pane__tabs-container">
             <li role="presentation" class="tab-pane__tab-container"><a href="" ng-click="selectTab(1)" class="tab-pane__tab {{isSelected(1) ? 'tab-pane__tab--selected' : ''}}" role="tab" tabindex="0" aria-controls="published" aria-selected="true">Published <br class="tab-pane__tab__break">Releases</a>
            </li>
            <li role="presentation" class="tab-pane__tab-container"><a href="" ng-click="selectTab(2)" class="tab-pane__tab {{isSelected(2) ? 'tab-pane__tab--selected' : ''}}" role="tab" tabindex="-1" aria-controls="upcoming">Upcoming <br class="tab-pane__tab__break">Releases</a>
            </li>
          </ul>
          <section  ng-show="isSelected(1)" id="published" role="tabpanel" class="tab-pane__panel" aria-hidden="true">
            <ol class="list--table list--table--cushy table--striped-light list--table--releases">
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-10-19">
                      <div class="date--stacked__date">19</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Oct</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <div class="list--table__item__body__three-fifths">
                      <h2 class="delta flush--half--bottom">
                        <a href="#/release" class="no_underline">Producer Price Inflation - October 2014</a>
<!--                         <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
<!--                     <div class="list--table__item__body__two-fifths"> -->
<!--                       <dl class="definition-list flush micro"> -->
<!--                         <dt></dt> -->
<!--                         <dd>Inflation and Price Indices</dd> -->
<!--                       </dl> -->
<!--                     </div> -->
                  </div>
                </div>
              </li>            
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-25">
                      <div class="date--stacked__date">25</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">Retail Sales - March 2014</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-25">
                      <div class="date--stacked__date">25</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">Index of Private Housing Rental Prices - January to March 2014 results</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-29">
                      <div class="date--stacked__date">29</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">Index of Services - February 2014</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-30">
                      <div class="date--stacked__date">30</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">Gross Domestic Product: Preliminary Estimate - Q1 2014</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-30">
                      <div class="date--stacked__date">30</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">GDP and the Labour Market - Q1 2014, April GDP update</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-30">
                      <div class="date--stacked__date">30</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Apr</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline" >National Accounts Sector Classification - Classification update, April 2014</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
            </ol>
            <div class="list--table__item list--table__footer list--table--footer--releases">
              <div class="list--table__item__body">
                <a href="#" class="link-muted">View all published releases</a>
              </div>
            </div>
          </section>
          <section  ng-show="isSelected(2)" id="upcoming" role="tabpanel" class="tab-pane__panel">
            <ol class="list--table list--table--cushy table--striped-light list--table--releases">
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-29">
                      <div class="date--stacked__date">5</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Jul</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">National Accounts Sector Classification - Classification update, July 2014</a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
              <li class="list--table__item list--table__body">
                <div class="list--table__item__body list--table__item__body--date">
                  <div class="list--table__item__body__inner">
                    <time class="date date--stacked" datetime="2014-04-29">
                      <div class="date--stacked__date">27</div>
                      <div class="date--stacked__month date--stacked__month--shorthand">Aug</div>
                      <div class="date--stacked__year">2014</div>
                    </time>
                  </div>
                </div>
                <div class="list--table__item__body list--table__item__body--release-caption">
                  <div class="list--table__item__body__inner list--table__item__body__split">
                    <!-- <div class="list--table__item__body__three-fifths"> -->
                    <div class="list--table__item">
                      <h2 class="delta flush--half--bottom">
                        <a href="#" class="no_underline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam, possimus ratione optio dolores. </a>
                        <!-- <span tabindex="0" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin tooltipstered"></span> -->
                      </h2>
                    </div>
                    <!-- <div class="list--table__item__body__two-fifths">
                      <dl class="definition-list flush micro">
                        <dt></dt>
                        <dd>Inflation and Price Indices</dd>
                      </dl>
                    </div> -->
                  </div>
                </div>
              </li>
            </ol>
            <div class="list--table__item list--table__footer list--table--footer--releases">
              <div class="list--table__item__body">
                <a href="#" class="link-muted">View all upcoming releases</a>
              </div>
            </div>
            </section>
            </div>
            </div>
            </section>
    <div class="box hide-large hide-large">
        <span>Get updates to this calendar</span>
        <a href="#"><span class="action-link icon-mail icon-inline">email</span></a>
        <a href="#"><span class="action-link icon-rss icon-inline">RSS</span></a>
    </div>
</div> 


