<div  ng-controller="T1Ctrl" >
    <section class="hero-banner">
        <div class="panel--pad slate--hero-banner">
          <div class="wrapper">
          <h2 class="hero-banner__headline">Latest release</h2>
          <div class="grid-wrap">
            <div class="grid-col tablet-grid-two-thirds">
              <h2 class="hero-banner__main-title">CPI Annual Rate Percentage Change over 12 months</h2>
              <br><br>
              <a href="#/bulletin">View the statistical bulletin</a>
            </div>
            <div class="grid-col tablet-grid-one-third">
              <div class="stat--headline stat--hero">
                <div class="stat__figure largestat_margin">
                  <strong> 1.5% </strong>
                    <span class="stat__figure__unit"></span>
                </div>
              <p class="callout__stat__description mini">
                Last Updated: 16 September 2014
              </p>
              <p class="callout__stat__description mini">
                Next Update: 14 October 2014
              </p>
                            
            </div>
          </div>
        </div>
      </div>
    </div>
        
    </section>

      <div class="wrapper offset-top panel--bottom-mar nav-panels">
        <div ng-repeat="item in data.children track by $index" class="grid-wrap">
          <div ng-repeat="section in item" class="grid-col tablet-wide-grid-one-half">
            <article class="nav-panel nav-panel--stats sectioned lifted border-defined">
              <header class="nav-panel__header nav-panel__roomy">
                <h2>{{section.name}}</h2>
              </header>
              <section  class="nav-panel__roomy">
                <ul class="list--neutral">
                  <li ng-repeat="child in section.data.children | limitTo:4" class="nav-panel__item">
                    <dl>
                      <dt class="nav-panel__title">
                        <h3 class="nav-panel__heading">
                          <a href="#/home/{{section.fileName}}/{{child.fileName}}">
                            {{child.name}}
                      </a>
                          <span tabindex="0" title="" class="tooltip icon-info-circled icon--warm  icon--inline icon--left-margin"></span>
                        </h3>
                      </dt>
                      <dd class="nav-panel__value">
                        <div class="stat stat--small">
                          <div class="stat__figure">
                            £936.3
                            <span class="stat__figure__unit">bn</span>
                          </div>
                          <div class="stat__description">
                            2nd Quarter 2014
                          </div>
                        </div>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </section>
              <footer class="nav-panel__footer nav-panel__item">
                <div class="nav-panel__action">
                  <a class="nav-panel__roomy " href="#/home/{{section.fileName}}">View all {{section.name}}</a>
                </div>
              </footer>
            </article>
            <!-- /nav-panel -->
          </div>
          <!-- /grid-col -->
          <!-- /grid-col -->
        </div>
      </div>
      <!-- /wrapper -->


      <release-calendar-footer></release-calendar-footer>

      <div class="wrapper panel--top-pad panel--bottom-mar">
        <div class="grid-wrap">
          <div class="grid-col desktop-grid-one-third  tablet-grid-one-half">
            <article class="box box--orange box--orange--separated-left lifted">
              <div class="box__inner border box--padded">
                <div class="media">
                  <img class="media__img icon--warm" src="../ui/img/census.png" width="80" alt=" ">
                  <div class="media__body">
                    <header class="box__header">
                      <h2 class="gamma">
                        <a class="no_underline" href="#">
                      View the 2011 Census
                    </a>
                      </h2>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                      <p>
                        Census data and information for England and Wales
                      </p>
                    </div>
                    <!-- /box__content -->
                  </div>
                </div>
                <!-- /media -->
              </div>
              <!-- /box__inner -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third  tablet-grid-one-half">
            <article class="box box--orange box--orange--separated-left lifted">
              <div class="box__inner border box--padded">
              <div class="media">
                  <span class="icon-users icon--warm icon--giga media__img"></span>
                  <div class="media__body">
                <header class="box__header">
                  <h2 class="gamma">
                    <a class="no_underline" href="#">
                  Calling all respondents
                </a>
                  </h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                  <p>
                    If you've been asked to take part in a survey then go here
                  </p>
                </div>
                <!-- /box__content -->
              </div>
              </div>
            </div>
              <!-- /box__inner -->
            </article>
            <!-- /box -->
          </div>
          <!-- /grid-col -->
          <div class="grid-col desktop-grid-one-third  tablet-grid-one-half tablet-grid-clear">
            <article class="box box--orange box--orange--separated-left lifted">
              <div class="box__inner border box--padded">
              <div class="media">
                  <span class="icon-cog icon--warm icon--giga media__img"></span>
                  <div class="media__body">
                <header class="box__header">
                  <h2 class="gamma">
                    <a class="no_underline" href="#">
                  Interactive content
                </a>
                  </h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                  <p>
                    See our data in a new light
                  </p>
                </div>
                <!-- /box__content -->
              </div>
            </div>
            </div>
            </article>
            <!-- /box -->
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="panel--top-pad panel--bottom-mar-large panel--separated--top--large">
          <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third">
              <h2 class="beta">More on ons.gov.uk</h2>
            </div>
            <div class="grid-col desktop-grid-two-thirds">
              <div class="grid-wrap">
                <div class="grid-col tablet-grid-one-half">
                  <ul class="list--neutral list--spaced list--heavy flush--top">
                    <li><a class="no_underline" href="#">Our methodology</a>
                    </li>
                    <li><a class="no_underline" href="#">Regional data</a>
                    </li>
                    <li><a class="no_underline" href="#">Neighbourhood statistics</a>
                    </li>
                    <li><a class="no_underline" href="#">The ONS blog</a>
                    </li>
                    <li><a class="no_underline" href="#">European statistics</a>
                    </li>
                    <li><a class="no_underline" href="#">UK Statistics Authority</a>
                    </li>
                  </ul>
                </div>
                <div class="grid-col tablet-grid-one-half">
                 <article class="box box--orange box--orange--separated-left lifted">
              <div class="box__inner border box--padded">
              <div class="media">
                  <span class="icon-mail icon--warm icon--giga media__img"></span>
                  <div class="media__body">
                <header class="box__header">
                  <h2 class="gamma">
                    <a class="no_underline" href="#">
                  Sign up for email alerts
                </a>
                  </h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                  <p>
                    Stay up-to-date with our latest releases
                  </p>
                </div>
                <!-- /box__content -->
              </div>
            </div>
            </div>
            </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
    <!-- build:js /ui/js/ons-alpha.js-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js" defer></script>
