<div>
  
<div ng-include="'templates/header.html'"></div>        

<div ng-controller="TemplateCtrl"  class="wrapper panel--bottom-mar">

      <div ng-if="data.level == 't2'">
              <div ng-include="'templates/t2.html'"></div>        
      </div>
      <div ng-if="data.level == 't1'">
              <div ng-include="'templates/t1.html'"></div>    
      </div>
      <div ng-if="data.level == 't3'">
              <div ng-include="'templates/t3.html'"></div>        
      </div>
 
</div>

<div ng-include="'templates/footer.html'">        
</div>
