<div class="page-header page-header--article page-header--stat-bulletin slate--blue">
 <ons-breadcrumb data="breadcrumb"></ons-breadcrumb>
    <div class="wrapper">
        <p class="page-header__title page-header--stat-bulletin-desc">
            <strong>Statistical Bulletin</strong>
        </p>
        <h1 class="page-header__title flush--half--bottom">Consumer Price Inflation, August 2014</h1>
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <img src="/ui/img/nslogo.png" class="page-header-image">
                <p>
                    <strong>Release date: 16 September 2014</strong>
                    <span class="page-header-box-link">
                        <a href="#">
                            <strong>View latest version</strong>
                        </a>
                    </span>
                </p>
                <p>Next release: 14 October 2014</p>
                <p>Contact: <a href="mailto:jukesie@hotmail.com">Matt Jukes</a>
                </p>
            </div>
            <div class="grid-col desktop-grid-one-third">
                <p>
                    <span class="icon icon-print icon--blue">
                        <span class="visuallyhidden">Print</span>&nbsp;<a href="#">Print summary</a>
                    </span>(1 page)</p>
                <p>
                    <span class="icon icon-print icon--blue">
                        <span class="visuallyhidden">Print full report</span>&nbsp;<a href="#">Print full report</a>
                    </span>(37 Pages)</p>
                <p>
                    <span class="icon icon-download icon--blue">
                        <span class="visuallyhidden">Download PDF</span>&nbsp;<a href="#">Download PDF</a>
                    </span>(95.6kb)</p>
            </div>
        </div>
        <div class="page-header__icons">
            <a href="#" class="link-complex">
                <span class="icon icon-twitter icon--grey">
                    <span class="visuallyhidden">Share on Twitter</span>
                </span>
            </a>
            <a href="#" class="link-complex">
                <span class="icon icon-facebook icon--grey">
                    <span class="visuallyhidden">Share on Facebook</span>
                </span>
            </a>
        </div>
    </div>
    <!-- /nav-panel -->
</div>
<div class="wrapper">
    <div class="panel">
        <div class="content-reveal">
            <p>Consumer price inflation is the speed at which the prices of goods and services bought by households rise or fall. Consumer price inflation is estimated by using price indices. One way to understand a price index is to think of a very large shopping basket containing all the goods and services bought by households. The price index estimates changes to the total cost of this basket. ONS consumer price indices are published monthly. <a href="#" class="content-reveal__action hidden">See more</a> 
            </p>
            <div class="content-reveal__hidden">
                <p>Vestibulum elementum est sed mauris commodo fringilla. Praesent eget orci a quam varius mattis eu bibendum dolor. Curabitur dignissim nulla sit amet convallis hendrerit.</p>
            </div>
        </div>
        </p>
    </div>
</div>
<div class="wrapper">
    <article class="box border-horizontal-single">
        <h3>Table of contents</h3>
        <div id="toc-content">
            <div class="toc-columns">
                <ol>
                    <li><a ng-click="scrollTo('Summary')">Summary</a>
                    </li>
                    <li><a ng-click="scrollTo('CPI')">Consumer Prices Index (CPI)</a>
                    </li>
                    <li><a ng-click="scrollTo('CPIH')">CPIH</a>
                    </li>
                    <li><a ng-click="scrollTo('Retail Prices Index (RPI) and RPIJ')">Retail Prices Index (RPI) and RPIJ</a>
                    </li>
                </ol>
            </div>
    </article>
    </div>
</div>
<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds">
            <article>
                <header class="box__header">
                    <h2>
                        <a id="Summary"></a>1. Summary</h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tellus nibh. Duis tristique risus sed urna fringilla, eu facilisis orci fringilla. Nullam iaculis libero tempor vehicula ultricies</p>
                    <h3>
                        <span class="color-cyan">Curabitur finibus pellentesque</span>in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li>
                                <span class="big">76.9%</span>
                                <strong>Highest</strong> in South East</li>
                            <li>
                                <span class="big">69.2%</span>
                                <strong>Lowest</strong> in Wales</li>
                        </ul>
                        <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                    <h3>
                        <span class="color-cyan">Proin sed euismod</span> in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li>
                                <span class="big">9.6%</span>
                                <strong>Highest</strong> in North East</li>
                            <li>
                                <span class="big">4.4%</span>
                                <strong>Lowest</strong> in South East</li>
                        </ul>
                        <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                    <h3>
                        <span class="color-cyan">Phasellus eget imperdiet</span> in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li>
                                <span class="big">25.7%</span>
                                <strong>Highest</strong> in Wales</li>
                            <li>
                                <span class="big">19.3%</span>
                                <strong>Lowest</strong> in east of England</li>
                        </ul>
                        <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                </div>
                <!-- /box__content -->
                <footer class="box__footer"></footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box border-horizontal-single">
                <header class="box__header">
                    <h2>
                        <a id="CPI"></a>2. Consumer Prices Index (CPI)</h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Etiam fringilla tellus arcu, quis dapibus lacus lacinia a. Vivamus in sollicitudin eros, sed ornare metus. Nam sapien augue, varius bibendum sagittis sed, malesuada quis augue.</p>
                    <div class="box--padded--highlight">
                        <p>This is an explanation box Morbi orci nulla, lobortis pretium auctor non, varius eget mi. Mauris viverra diam quam, at auctor velit placerat sit amet. In sed erat quis elit eleifend tempus. Pellentesque vestibulum orci nec nulla accumsan egestas. Proin mauris ipsum, ornare posuere risus non, consectetur lobortis mi. Pellentesque mi ante, sodales sollicitudin pretium et, varius vel enim.</p>
                        <!-- /box--padded-highlight -->
                    </div>
                    <p>Etiam ac ultricies orci. Pellentesque et posuere tortor. Nunc quam risus, pharetra non condimentum at, pretium at dolor. Maecenas placerat, arcu non consequat venenatis, eros leo eleifend lorem.</p>
                    <p>
                        <img src="/ui/img/sample--chart.png" alt="sample chart">
                    </p>
                    <!-- /list--bullet -->
                    <p>Proin sed facilisis sapien. Nunc hendrerit dignissim sapien, vel consequat mi rhoncus eget. Maecenas et tellus convallis, tristique risus vitae.</p>
                </div>
                <!-- /box__content -->
                <footer class="box__footer"></footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box border-horizontal-single">
                <header class="box__header">
                    <h2>
                        <a id="CPIH"></a>3. CPIH</h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Proin sed euismod elit. Cras a aliquet massa. Aliquam eu ex quis est interdum accumsan ac non arcu. Duis a accumsan diam. Aliquam iaculis pellentesque lacus et ullamcorper. Sed consectetur tempus quam, ac laoreet neque mattis eget. Pellentesque accumsan a arcu in congue.</p>
                </div>
                <!-- /box__content -->
                <footer class="box__footer"></footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <article class="box border-horizontal-single">
                <header class="box__header">
                    <h2>
                        <a id="Retail Prices Index (RPI) and RPIJ"></a>4. Retail Prices Index (RPI) and RPIJ</h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Vestibulum et elit at lectus egestas aliquet non eget ipsum. Donec et bibendum arcu. Phasellus commodo odio sit amet dictum tempus. Ut dapibus dui ligula, lacinia ultricies lorem hendrerit eget. Vivamus bibendum metus egestas fringilla finibus. Praesent congue nulla cursus risus fringilla, sed convallis erat aliquet. Donec pharetra porta erat, id suscipit risus dapibus sed.</p>
                </div>
                <!-- /box__content -->
                <footer class="box__footer"></footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->

            <ons-accordion multiple="true">
                <article class="box border-horizontal-single">
                    <ons-accordion-item header="Background notes and Methodology">
                        <div class="box__content">
                            <ul class="list--neutral">
                                <li><a href="#"> Quality and Methodology Information (QMI)</a> (PDF 95.6 kb)</li>
                                <li><a href="#">Impact of Rebasing the Consumer Price Index to 2010=100</a>
                                </li>
                                <li><a href="#">Consumer Price Index and Retail Price Index Methodology</a>
                                </li>
                            </ul>
                        </div>
                    </ons-accordion-item>
                    <!-- /box__content -->
                    <footer class="box__footer"></footer>
                    <!-- /box__actions -->
                </article>
                <!-- /article__content -->
                <!-- article__content -->
                <article class="box border-horizontal-single">
                    <ons-accordion-item header="References">
                        <div class="box__content">
                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                            </p>
                        </div>
                    </ons-accordion-item>

                    <!-- /box__header -->
                    <footer class="box__footer"></footer>
                    <!-- /box__actions -->
                </article>
                <!-- /article__content -->
                <!-- article__content -->
                <article class="box border-horizontal-single">
                    <ons-accordion-item header="Footnotes">
                        <div class="box__content">
                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                            </p>
                        </div>
                    </ons-accordion-item>
                    <!-- /box__header -->
                    <footer class="box__footer"></footer>
                    <!-- /box__actions -->
                </article>
                <!-- /article__content -->
            </ons-accordion>
        </div>



        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
            <!-- article__content -->
            <article class="box box--padded lifted sectioned">
                <header class="box__header">
                    <h3 class="headline">Data in this bulletin</h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <div class="grid-wrap">
                        <div class="grid-col grid-one-sixth">
                            <span class="icon icon-download icon--blue"></span>
                        </div>
                        <div class="grid-col grid-five-sixths">
                            <a href="#!/economy/inflationandpriceindices/datasets/inflationsummary">Inflation Summary</a>
                        </div>
                    </div>

                    <div class="grid-wrap">
                        <div class="grid-col grid-one-sixth">
                            <span class="icon icon-download icon--blue"></span>
                        </div>
                        <div class="grid-col grid-five-sixths">
                            <a href="#!/economy/inflationandpriceindices/datasets/retailpricesindex">Detailed Consumer Inflation Dataset</a>
                        </div>
                    </div>


                </div>
                <!-- /box__content -->
                <footer class="box__footer box__actions">

                    <a href="#" class="btn btn--primary btn--small">Download all data
  <span class="icon-download icon--button-inline"></span>
</a>


                </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box box--padded lifted sectioned">
                <header class="box__header">
                    <div class="grid-wrap ">
                        <div class="grid-col desktop-grid-one-sixth">
                            <h2>
                                <span class="icon icon-info-circled icon--grey"></span>
                            </h2>
                        </div>
                        <div class="grid-col desktop-grid-five-sixths">
                            <h3>Contact details for this statistical bulletin</h3>
                        </div>
                    </div>
                    <div class="padded"></div>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Kat Pegler
                        <br/>Business Prices
                        <br/>
                        <a href="mailto:cpi@alpha.example.com">cpi@ons.gsi.gov.uk</a>
                        <br/>Telephone: +44 (0)1633 456468</p>
                    <!-- /list--bullet -->
                </div>
                <!-- /box__content -->

                <footer class="box__footer box__actions">

                    <p class="right"> <a href="#" title="Opens in new window">View all contacts</a>
                        <span class="icon icon-book icon--blue"></span>
                    </p>


                </footer>



            </article>
            <!-- /article__content -->
        </div>
        <!-- /grid-col -->
    </div>
</div>
</div>
<div class="page-header slate_original">
    <div class="wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <article class="box">
                    <header class="box__header">
                        <h2>Related Bulletins</h2>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <p><a href="#">Consumer Price Inflation, August 2014</a>
                            <br />The Consumer Price Inflation is a monthly release that contains percentage changes and weights for the CPI, CPIH, RPI and RPIJ.</p>
                        <p><a href="#">Retail Sales, August 2014</a>
                            <br />A first estimate of retail sales in volume and value terms, seasonally and non seasonally adjusted.</p>
                    </div>
                    <!-- /box__content -->
                    <footer class="box__footer"></footer>
                    <!-- /box__actions -->
                </article>
            </div>
            <div class="grid-col desktop-grid-one-third">
                <article class="box box--blue box--blue--separated-left">
                    <div class="box__inner border box--padded">
                        <div class="box__section">
                            <h3 class="box__section__header">More on <a href="#">Inflation</a> 
                            </h3>
                            <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
                        </div>
                        <div class="box__section">
                            <h3 class="box__section__header">More on <a href="#">Basket of Goods</a> 
                            </h3>
                            <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
                        </div>
                    </div>
                    <!-- /box__inner -->
                </article>
            </div>
        </div>
    </div>
    <!-- /bottom-panel -->
</div>

<div ng-if="content">{{scroll()}}</div>


<!-- Functionality to populate this page -->
<script src="/ui/js/markdown.js"></script>
<script src="/ui/js/methodology.js"></script>

</body>

</html>