<ons-header></ons-header>
<div class="page-header slate">
    <div class="wrapper">
        <p><strong>Statistical Bulletin</strong></p>
        <h1 class="page-header__title flush--half--bottom">Producer Price Inflation, August 2014</h1>
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds"> <img src="/ui/img/nslogo.png" class="page-header-image">
                <p><strong>Release date: 16 September 2014</strong> <span class="page-header-box-link"> <a href="#"><strong>View latest version</strong></a></span> </p>
                <p>Next release: 14 October 2014</p>
                <p>Contact: <a href="mailto:jukesie@hotmail.com">Matt Jukes</a></p>
            </div>
            <div class="grid-col desktop-grid-one-third">
                <p> <span class="icon icon-print icon--blue"> <span class="visuallyhidden">Print</span> &nbsp;<a href="#">Print summary</a></span> (1 page) </p>
                <p> <span class="icon icon-print icon--blue"> <span class="visuallyhidden">Print full report</span> &nbsp;<a href="#">Print full report</a></span> (37 Pages) </p>
                <p> <span class="icon icon-download icon--blue"> <span class="visuallyhidden">Download PDF</span> &nbsp;<a href="#">Download PDF</a></span> (95.6kb) </p>
            </div>
        </div>
        <div class="page-header__icons"><a href="#" class="link-complex"><span class="icon icon-twitter icon--grey"><span class="visuallyhidden">Share on Twitter</span></span></a><a href="#" class="link-complex"><span class="icon icon-facebook icon--grey"><span class="visuallyhidden">Share on Facebook</span></span></a></div></div>
    <!-- /nav-panel -->
</div>
<div class="wrapper">
    <div class="panel">
        <div class="content-reveal">
            <p> Producer Price Inflation (PPI) measures the price changes of goods bought and sold by UK manufacturers this month compared to the same month a year ago. PPI provides a key measure of inflation alongside other indicators such as the Consumer Prices Index (CPI) and Services Producer Price Index (SPPI).
                PPI is split into two components: output price inflation and input price inflation. The input price indices capture changes in the cost of the material and fuel inputs that producers face whereas the output price indices capture the changing prices of goods sold by producers.
                This article looks at the trends in both producer price indices since 2000 and which components contribute most towards changes in each price index in recent years. <a href="#" class="content-reveal__action hidden">See more</a> </p>
            <div class="content-reveal__hidden">
                <p>Annual output and input price changes follow similar trends, but with the latter tending to have higher price growth1. In Figure 1, trends in producer price inflation can be split into three distinct periods: 2000 to 2005, 2005 to 2012 and 2012 to June 2014.  Both indices experience greater variability within the second period of 2005 to 2012 than compared with the first and third period. From 2005 to 2012 the average growth rate was 2.9% for output price inflation and 8.1% for input price inflation.  The largest peaks and troughs experienced for both indices throughout the time series shown below occurred in the second period of 2005 to 2012. Output price inflation rose to 8.9% in July 2008 while input price inflation rose to 34.8% in June 2008 and both fell to their lowest rates in July 2009: output price inflation falling by 1.6% and input price inflation falling by 14.8%.</p>
            </div>
        </div>
        </p>
    </div>
</div>
<div class="wrapper">
    <article class="box border-horizontal-single">
    <h3>Table of contents</h3>
    <div id="toc-content">
        <div class="toc-columns">
            <ol>
                <li><a href="" ng-click="scrollTo('Summary')">Summary</a></li>
                <li><a href="" ng-click="scrollTo('PPI')">What is Producer Price Inflation (PPI)</a></li>
                <li><a href="" >Output Prices Summary</a></li>
                <li><a href="" >Supplimentary analysis - Output prices</a></li>
                <li><a href="" >Output price - detailed commentary</a></li>
                <li><a href="" >Prices Analysis</a></li>
                <li><a href="" >Input prices - summary</a></li>
                <li><a href="" >Supplementary analysis - Input prices</a></li>
                <li><a href="" >Input prices: detailed commentary</a></li>
                <li><a href="" >Revisions</a></li>
                <li><a href="" >Background notes</a></li>
                <li><a href="" >Statistical contacts</a></li>
            </ol>
        </div>
        </article>
    </div>
</div>
<div class="wrapper panel--bottom-mar">
    <div class="grid-wrap">
        <div class="grid-col desktop-grid-two-thirds tablet-grid-two-thirds" ng-controller="TabsCtrl">
            <article>
                <header class="box__header">
                    <h2><a name="Summary"></a>1. Summary </h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tellus
                        nibh. Duis tristique risus sed urna fringilla, eu facilisis orci fringilla. Nullam iaculis libero tempor vehicula ultricies</p>
                    <h3><span class="color-cyan">The Employment Rate</span> in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li><span class="big">76.9%</span> <strong>Highest</strong> in South East</li>
                            <li><span class="big">69.2%</span> <strong>Lowest</strong> in Wales</li>
                        </ul>
                        <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                    <h3><span class="color-cyan">The Unemployment Rate</span> in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li><span class="big">9.6%</span> <strong>Highest</strong> in North East</li>
                            <li><span class="big">4.4%</span> <strong>Lowest</strong> in South East</li>
                        </ul>
                         <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                    <h3><span class="color-cyan">The Inactivity Rate</span> in Great Britain was:</h3>
                    <div class="box--cyan--separated-left">
                        <ul class="list--neutral">
                            <li><span class="big">25.7%</span> <strong>Highest</strong> in Wales</li>
                            <li><span class="big">19.3%</span> <strong>Lowest</strong> in east of England</li>
                        </ul>
                    <!-- /box list -->
                    </div>
                    <!-- /box box--cyan--separated-left -->
                </div>
                <!-- /box__content -->
                <footer class="box__footer"> </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <article class="box border-horizontal-single">
                <header class="box__header">
                    <h2><a name="PPI"></a>2. What is Producer Price Inflation (PPI)?</h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Etiam fringilla tellus arcu, quis dapibus lacus lacinia a. Vivamus in sollicitudin eros,
                        sed ornare metus. Nam sapien augue, varius bibendum sagittis sed, malesuada
                        quis augue.</p>
                    <div class="box--padded--highlight">
                        <p>This is an explanation box
                            Morbi orci nulla, lobortis pretium auctor non, varius eget mi. Mauris viverra
                            diam quam, at auctor velit placerat sit amet. In sed erat quis elit eleifend
                            tempus. Pellentesque vestibulum orci nec nulla accumsan egestas. Proin
                            mauris ipsum, ornare posuere risus non, consectetur lobortis mi.
                            Pellentesque mi ante, sodales sollicitudin pretium et, varius vel enim.</p>
                        <!-- /box--padded-highlight -->
                    </div>
                    <p>Etiam ac ultricies orci. Pellentesque et posuere tortor. Nunc quam risus, pharetra
                        non condimentum at, pretium at dolor. Maecenas placerat, arcu non consequat
                        venenatis, eros leo eleifend lorem.</p>
                    <p><img src="/ui/img/sample--chart.png" alt="sample chart"></p>
                    <!-- /list--bullet -->
                    <p>Proin sed facilisis sapien. Nunc hendrerit dignissim sapien, vel consequat mi
                        rhoncus eget. Maecenas et tellus convallis, tristique risus vitae.</p>
                </div>
                <!-- /box__content -->
                <footer class="box__footer"> </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box border-horizontal-single">
                <div class="accordionItem" ng-click="selectTab(1)" ng-class="isSelected(1) ? '' : 'hide'" >
                    <span class="accordion_chevron icon" ng-class="isSelected(1) ? 'icon-down-open-big' : 'icon-up-open-big'" ></span>
                    <header class="box__header">
                    <h2>Background notes and Methodology
                    </h2>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <ul class="list--neutral">
                        <li><a href="#"> Quality and Methodology Information (QMI)</a> (PDF 95.6 kb)</li>
                        <li><a href="#">Impact of Rebasing the Consumer Price Index to 2010=100</a></li>
                        <li><a href="#">Consumer Price Index and Retail Price Index Methodology</a></li>
                    </ul>
                </div>
            </div>
                <!-- /box__content -->
                <footer class="box__footer"> </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box border-horizontal-single">
           <div class="accordionItem" ng-click="selectTab(2)" ng-class="isSelected(2) ? '' : 'hide'"  >
               <span class="accordion_chevron icon" ng-class="isSelected(2) ? 'icon-down-open-big' : 'icon-up-open-big'"></span>
               <header class="box__header">
                    <h2>References
                    </h2>
                </header>
           <div class="box__content">
               <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
               </p>
           </div>
           </div>
           
                <!-- /box__header -->
                <footer class="box__footer"> </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box border-horizontal-single">
           <div class="accordionItem" ng-click="selectTab(3)" ng-class="isSelected(3) ? '' : 'hide'"  >
               <span class="accordion_chevron icon" ng-class="isSelected(3) ? 'icon-down-open-big' : 'icon-up-open-big'"></span>
               <header class="box__header">
                    <h2>Footnotes
                    </h2>
                </header>
            <div class="box__content">
                <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                </p>
            </div>
            </div>
                <!-- /box__header -->
                <footer class="box__footer"> </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
        </div>



        <!-- /grid-col -->
        <div class="grid-col desktop-grid-one-third tablet-grid-one-third">
            <!-- article__content -->
            <article class="box box--padded lifted sectioned">
                <header class="box__header">
                    <h3 class="headline"> Data in this bulletin </h3>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                <div class="grid-wrap">
  <div class="grid-col grid-one-sixth">
    <span class="icon icon-download icon--blue"> </span>
  </div>
  <div class="grid-col grid-five-sixths">
   <a href="#">Producer Price Index dataset</a>
  </div>
</div>

<div class="grid-wrap">
  <div class="grid-col grid-one-sixth">
    <span class="icon icon-download icon--blue"> </span>
  </div>
  <div class="grid-col grid-five-sixths">
   <a href="#">Gross Domestic Product dataset</a>
  </div>
</div>


                </div>
                <!-- /box__content -->
                <footer class="box__footer box__actions">

                <a href="#" class="btn btn--primary btn--small">Download all data
  <span class="icon-download icon--button-inline"></span>
</a>


                </footer>
                <!-- /box__actions -->
            </article>
            <!-- /article__content -->
            <!-- article__content -->
            <article class="box box--padded lifted sectioned">
                <header class="box__header">
                    <div class="grid-wrap ">
                        <div class="grid-col desktop-grid-one-sixth">
                            <h2><span class="icon icon-info-circled icon--grey"></span></h2>
                        </div>
                        <div class="grid-col desktop-grid-five-sixths">
                            <h3>Contact details for this
                                statistical bulletin</h3>
                        </div>
                    </div>
                    <div class="padded"></div>
                </header>
                <!-- /box__header -->
                <div class="box__content">
                    <p>Kat Pegler<br/>
                        Business Prices<br/>
                        <a href="mailto:ppi@ons.gsi.gov.uk">ppi@ons.gsi.gov.uk</a><br/>
                        Telephone: +44 (0)1633 456468</p>
                    <!-- /list--bullet -->
                </div>
                <!-- /box__content -->

                <footer class="box__footer box__actions">

               <p class="right"> <a href="#" title="Opens in new window">View all contacts</a><span class="icon icon-book icon--blue"></span></p>


                </footer>



            </article>
            <!-- /article__content -->
        </div>
        <!-- /grid-col -->
    </div>
</div>
</div>
<div class="page-header slate--light">
    <div class="wrapper">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <article class="box">
                    <header class="box__header">
                        <h2>Related Bulletins </h2>
                    </header>
                    <!-- /box__header -->
                    <div class="box__content">
                        <p><a href="#">Consumer Price Inflation, August 2014</a><br />
                            The Consumer Price Inflation is a monthly release that contains percentage
                            changes and weights for the CPI, CPIH, RPI and RPIJ.</p>
                        <p><a href="#">Retail Sales, August 2014</a><br />
                            A first estimate of retail sales in volume and value terms, seasonally and non seasonally  adjusted.</p>
                    </div>
                    <!-- /box__content -->
                    <footer class="box__footer"> </footer>
                    <!-- /box__actions -->
                </article>
            </div>
            <div class="grid-col desktop-grid-one-third">
                <article class="box box--blue box--blue--separated-left">
                    <div class="box__inner border box--padded">
                        <div class="box__section">
                            <h3 class="box__section__header">More on <a href="#">Inflation</a> </h3>
                            <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
                        </div>
                        <div class="box__section">
                            <h3 class="box__section__header"> More on <a href="#">Basket of Goods</a> </h3>
                            <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
                        </div>
                    </div>
                    <!-- /box__inner -->
                </article>
            </div>
        </div>
    </div>
    <!-- /bottom-panel -->
</div>
<ons-footer></ons-footer>

<div ng-if="content">{{scroll()}}</div>


<!-- Functionality to populate this page -->
<script src="../ui/js/markdown.js"></script>
<script src="../ui/js/methodology.js"></script>

  </body>
</html>
